{% include 'ReplayCreativeSiteBundle:Default:header.html.twig' with {current: 'contact'} %}

	<div class="tt-col row contact-page clearfix">
		<div class="grid_8">
			<iframe width="667" height="531" src="https://maps.google.com.ph/maps?q=12+Desbrosses+St,+New+York+City+10013&amp;aq=f&amp;ie=UTF8&amp;hl=en&amp;hq=&amp;hnear=12+Desbrosses+St,+New+York,+10013,+United+States&amp;t=m&amp;z=14&amp;ll=40.723366,-74.008973&amp;output=embed"></iframe>
		</div>
		<div class="grid_4">
			<h3 class="top-header"><span>Get In Touch <b>With Us</b></span></h3>
			<p>Send us a message with some information about your project. We'll get back to you within a day.</p>

			<div id="content-loading"></div>
			<div id="container">
				{# novalidate="novalidate" #}
				<form method="post" action="{{ path('contact_page') }}" id="contact-us" novalidate="novalidate">
				
					<div class="input-box">
					  {{ form_errors(contactForm.name) }}
					  {{ form_widget(contactForm.name, {"attr":{"placeholder":"Name*", "class":"contact_input"}}) }}
					</div>
					<div class="input-box">
						{{ form_errors(contactForm.email) }}
					  {{ form_widget(contactForm.email, {"attr":{"placeholder":"Email*", "class":"contact_input"}}) }}
					</div>
					<div class="input-box">
						{{ form_errors(contactForm.message) }}
					  {{ form_widget(contactForm.message, {"attr":{"placeholder":"Your Message", "class":"contact_input"}}) }}
					</div>										
					
					<div class="submit">
						{{ form_row(contactForm._token) }} 
						<input type="submit" value="Submit">
					</div>
					<div id="contact-us-message"></div>
				</form>
			</div>
		</div>
	</div>

{% if has_footer %}
  {% include 'ReplayCreativeSiteBundle:Default:footer.html.twig' %}
{% endif %}
