				{# novalidate="novalidate" #}
				<form method="post" action="{{ path('contact_page') }}{% if form_type == 'bare' %}?form_type=bare{% endif %}" id="contact-form" novalidate="novalidate">
					
						{{ form_row(contactForm._token) }} 

          <div class="form-row clearfix">
              {{ form_label(contactForm.name) }}
              {% if contactForm.name.vars.errors|length < 1 %}
                {{ form_widget(contactForm.name, {"attr":{"placeholder":"Required"}}) }}
                {% else %}
                {{ form_widget(contactForm.name, {"attr":{"placeholder":"Required", 'class': 'false'}}) }}
              {% endif %}
          </div>
                            
          <div class="form-row clearfix">
						{{ form_label(contactForm.email) }}
						{# form_errors(contactForm.email) #}
            {% if contactForm.email.vars.errors|length < 1 %}
					    {{ form_widget(contactForm.email, {"attr":{"placeholder":"Required"}}) }}
            {% else %}
					    {{ form_widget(contactForm.email, {"attr":{"placeholder":"Required", 'class': 'false'}}) }}
            {% endif %}
          </div>
                            
          <div class="form-row clearfix textbox">
						{{ form_label(contactForm.message) }}
            {% if contactForm.message.vars.errors|length < 1 %}
					    {{ form_widget(contactForm.message, {"attr":{"placeholder":"Your Message", "rows": 15, "cols": 50}}) }}
              {% else %}
					    {{ form_widget(contactForm.message, {"attr":{"placeholder":"Your Message", "rows": 15, "cols": 50, 'class': 'false'}}) }}
            {% endif %}
          </div>
					    {{ form_widget(contactForm.leave_blank) }}
            
          {% if contactForm.get('errors') is not empty %} 
            <div class="alert alert-error">
              <h6><strong>Error</strong>: Please check your entries!</h6>
            </div>
          {% endif %}
                            
          <div class="form-row form-submit">
              <input type="submit" name="submit_form" class="submit" value="Send" />
          </div>
    
        
        </form> 
        <script type="text/javascript">
          $('#contact-form').submit(function(e) {
            e.preventDefault();
            $('#replaycreative_sitebundle_contacttype_leave_blank').val('replaycreativeftw');
            $.post($(this).attr('action'), $(this).serialize())
              .always(function() {
                $('#form-container input').each(function() {
                  $(this).removeClass('false');
                  $('input[name=submit_form]').attr('disabled', 'disabled');
                });
              })
              .done(function() {
                $('#form-container').html("<h2>Thanks for contacting us! We'll be in touch within a day.</h2>");
              })
              .fail(function(data) {
                $("#form-container").html(data.responseText);
              })
          });
        </script>
          

