<p>A new contact message has been submitted with the following details</p>

<p><span style="display: inline-block; width: 100px; padding: 5px;">Name : </span> {{ contact.name }}</p>
<p><span style="display: inline-block; width: 100px; padding: 5px;">Email : </span>{{ contact.email }}</p>
<p><span style="display: inline-block; width: 100px; padding: 5px;">Message : </span></p>
<blockquote>"{{ contact.message|nl2br }}"</blockquote>


<p>This is a system generated email</p>
<a href="" style="display: block; float: left; padding: 8px 12px;">
<img src="http://replaycreative.com/bundles/replaycreativesite/images/replaycreativelogo.png" 
     alt="DragonIT" title="DragonIT" />
</a>

