{% include 'ReplayCreativeSiteBundle:Default:header.html.twig' with {current: 'home'} %}

    <!-- HOME (SLIDER) -->
    <section id="home" class="no-padding">
            <div class="section-inner"> 
       
            <!-- REVOLUTION SLIDER -->
            <div class="home-slider-container">
        <div class="home-slider">
                <ul>
                    
                    <!-- THE FIRST SLIDE -->
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="800" >
                        <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                        <img src="/bundles/replaycreativesite/images/bg.jpg"   alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                          
                        <!-- LAYER NR. 1 -->    
                          <div class="tp-caption srcaption-bigwhite lfl ltr"
                            data-x="center" data-hoffset="0"
                            data-y="center" data-voffset="0"
                            data-speed="1000"
                            data-start="100"
                            data-easing="easeInOutQuad"
                            data-endspeed="1000"
                            data-endeasing="easeInOutQuad"
                            style="z-index: 2">WE <strong>{[ label || 'create' ]}</strong>
                          </div>
                        
              
              <!-- LAYER NR. 3 -->
                          <div class="tp-caption srcaption-miniwhite sfb text-light"
                            data-x="center" data-hoffset="0"
                            data-y="bottom" data-voffset="15"
                            data-speed="500"
                            data-start="1300"
                            data-easing="easeInOutQuad"
                            data-endspeed="1000"
                            data-endeasing="easeInOutQuad"
                            style="z-index: 3"><a href="#about" class="sr-button sr-buttonicon small-iconbutton scroll-to"><i class="fa fa-angle-down"></i></a>
                          </div>
                            
                    </li> <!-- end first slide -->
                    
                   
            </ul>
    
        </div>
        </div> <!-- END .home-slider-container -->        
      <!-- REVOLUTION SLIDER -->
        
        </div> <!-- END .section-inner -->   
        </section>
      <!-- HOME (SLIDER) -->
       
       <!-- ABOUT --> 
        <section id="about">
            <div class="section-inner">
            
            <div class="wrapper">
                
              <div class="section-title">
                  <h2>About us</h2>
                  <div class="seperator size-small"><span></span></div>
                  <h4 class="subtitle">
                    DragonIT are passionate software engineers, <br />
                    creatives, marketers and strategists working with startups, agencies and enterprises helping them realize their visions through software and digital solutions. <br />
                  </h4>
                </div>
                <div class="section-title sr-animation sr-animation-zoomin" data-delay="200">
                  <h3>Our Clients</h3>
                  <div class="seperator size-small"><span></span></div>
                </div>
                
              <div class="column-section clearfix">
                  <div class="column one-third align-center sr-animation sr-animation-zoomin" data-delay="200">
                    <i class="fa fa-rocket fa-4x xone"></i>
                      <h4><strong>Startups</strong></h4>
                      <p>
                      We have decades of combined experience developing and delivering high-quality products that have
                      been seen and used by millions of people. When startups work with DragonIT, they not only 
                      engage experts in user experience, technical implementation and marketing, they engage a partner to 
                      help their startup become successful.
                      </p>
                  </div>
                  <div class="column one-third align-center sr-animation sr-animation-zoomin" data-delay="400">
                    <i class="fa fa-globe fa-4x xone"></i>
                      <h4><strong>Agencies</strong></h4>
                      <p>
                      Agencies choose to work with us because of the depth and breadth of our technical know-how.
                      Agencies trust DragonIT because they've learned that there is no technical challenge that we 
                      cannot solve. We use cutting-edge digital technology to deliver premium experiences in web, mobile, 
                      business applications, and augmented reality.
                      </p>
                  </div>
                  <div class="column one-third last-col align-center sr-animation sr-animation-zoomin" data-delay="600">
                    <i class="fa fa-building-o fa-4x xone"></i>
                      <h4><strong>Enterprise</strong></h4>
                      <p>
                      We've developed technology for Fortune 500 companies including Johnson &amp; Johnson, Time Inc.
                      (Time Magazine, People Magazine, Sports Illustrated, etc), and Mondelēz International (formerly 
                      Kraft Foods). Enterprises trust DragonIT to deliver solutions that are high quality and
                      innovative.
                      </p>
                  </div>
        </div> <!-- END .column-section -->
                
      </div> <!-- END .wrapper> -->
            
      <div class="spacer spacer-big"></div>
        <!-- TESTIMONIALS -->
           <div id="clients" class="horizontalsection text-light parallax-section">
        <div class="horizontalinner wrapper">
                  
                  <div class="section-title">
                    <h2>Using Our Technology:</h2>
                </div>   
                    
                  <div class="testimonial-slider">
                            <div class="testimonial-item">
                            <img src="/bundles/replaycreativesite/theme/files/images/workedwith/altonlane.png" alt="Alton Lane" />
                            <img src="/bundles/replaycreativesite/theme/files/images/workedwith/time.png" alt="Time Magazine" />
                            <img src="/bundles/replaycreativesite/theme/files/images/workedwith/johnsonandjohnson.png" alt="Johnson and Johnson" />
                            <img src="/bundles/replaycreativesite/theme/files/images/workedwith/people.png" alt="People Magazine" />
                            <img src="/bundles/replaycreativesite/theme/files/images/workedwith/massideation.png" alt="Mass Ideation" />
                            </div>
                  </div> <!-- END .flexslider -->
                    
        </div>
          </div> <!-- END #testimonials -->
           
                                
      </div> <!-- END .section-inner-->
    </section>
        <!-- ABOUT -->
    
     
    <!-- SERVICE -->      
      <section id="service">
          <div class="section-inner">
                <div class="wrapper"> 
        
        <div class="section-title">
                  <h2>Our Services</h2>
                  <div class="seperator size-small"><span></span></div>
                  <!-- <h4 class="subtitle"></h4> -->
                </div>
           
              <div class="column-section clearfix">
                  <div class="column one-third iconbox clearfix sr-animation sr-animation-frombottom" data-delay="0">
                    <i class="fa fa-laptop fa-2x fa-fw"></i>
                      <div class="iconbox-content">
                        <h5><strong>Software Development</strong></h5>
                         <p>
                         We make websites, web apps, iOS apps, Android apps, and desktop applications. Every project we
                         take on is unique and requires technology that works to meet the specific goals of our clients. We're 
                         knowledgeable in several technology stacks and meticulously work to ensure the future success and 
                         expansion of your project.
                          </p>
                      </div>
                  </div>
                  <div class="column one-third iconbox clearfix sr-animation sr-animation-frombottom" data-delay="200">
                    <i class="fa fa-pencil fa-2x fa-fw"></i>
                      <div class="iconbox-content">
                        <h5><strong>Fast Prototyping &amp; Rapid Application Development</strong></h5>
                         <p>
                         If you want a minimum viable product or a prototype, we can develop technology quickly so that you 
                         can test and market your idea. We turn complex requirements into simple solutions.
                          </p>
                      </div>
                  </div>
                  <div class="column one-third last-col iconbox clearfix sr-animation sr-animation-frombottom" data-delay="400">
                    <i class="fa fa-user fa-2x fa-fw"></i>
                      <div class="iconbox-content">
                        <h5><strong>User Experience Design</strong></h5>
                         <p>
                         Before code ever touches the hard disk, it's usually a good idea to determine what the user flow for
                         your product will look like. We take this process very seriously because it outlines the foundation 
                         of your product. Our years designing successful user experiences make us a premier choice for the 
                         design of your information architecture and wireframes.
                          </p>
                      </div>
                  </div>
              </div> <!-- END .column-section -->
                
              <div class="column-section clearfix">
                  <div class="column one-third iconbox clearfix sr-animation sr-animation-frombottom" data-delay="0">
                    <i class="fa fa-user fa-2x fa-fw"></i>
                      <div class="iconbox-content">
                        <h5><strong>User Interface Design</strong></h5>
                         <p>
                          We are able to create and implement beautiful user interfaces for clients with any budget. Once the 
                          wireframes have been created, we'll work to craft an aesthetically pleasing user interface that reflects
                          the quality your brand offers.
                          </p>
                      </div>
                  </div>
                  <div class="column one-third iconbox clearfix sr-animation sr-animation-frombottom" data-delay="200">
                    <i class="fa fa-bar-chart-o fa-2x fa-fw"></i>
                      <div class="iconbox-content">
                        <h5><strong>Digital Marketing Consulting</strong></h5>
                         <p>
                         We have extensive experience in digital marketing. Our strategy services include high-level direction, 
                         marketing consulting, multi-channel budget management, conversion/funnel optimization, and
                         executive campaign reporting.
                          </p>
                      </div>
                  </div>
                  <div class="column one-third last-col iconbox clearfix sr-animation sr-animation-frombottom" data-delay="400">
                    <i class="fa fa-repeat fa-2x fa-fw"></i>
                      <div class="iconbox-content">
                        <h5><strong>Digital Marketing Execution</strong></h5>
                         <p>
                         Successful marketing campaigns require the implementation of analytics and tracking tools to measure
                         campaign performance. You can't manage what you don't measure, so we make it a point to measure 
                         as much as possible through our experiment driven development process. We continuously deliver
                         optimizations and increased conversion rates through a scientific process aimed at meeting marketing
                         goals.
                          </p>
                      </div>
                  </div>
              </div>  <!-- END .column-section -->
                
              <div class="column-section clearfix">
                  <div class="column one-third iconbox clearfix sr-animation sr-animation-frombottom" data-delay="0">
                    <i class="fa fa-picture-o fa-2x fa-fw"></i>
                      <div class="iconbox-content">
                        <h5><strong>Ad Technology</strong></h5>
                         <p>
                         We've created rich media advertisements for Fortune 500 companies and startups. We implement 
                         cross-browser best practices to deliver high-quality ad experiences on all devices. We work with ad 
                         servers of all types including DoubleClick, DFP/DART & OpenX.
                          </p>
                      </div>
                  </div>
                  <div class="column one-third iconbox clearfix sr-animation sr-animation-frombottom" data-delay="200">
                    <i class="fa  fa-magic fa-2x fa-fw"></i>
                      <div class="iconbox-content">
                        <h5><strong>Branding</strong></h5>
                         <p>
                         Let us collaborate with you to sculpt the image and feeling you want your brand to convey. We work 
                         with some of the best logo designers in the world to deliver your audience a brand image that they can
                         trust, and that you can have confidence in.
                          </p>
                      </div>
                  </div>
                  <div class="column one-third iconbox last-col clearfix sr-animation sr-animation-frombottom" data-delay="400">
                    <i class="fa fa-video-camera fa-2x fa-fw"></i>
                      <div class="iconbox-content">
                        <h5><strong>Motion &amp; Animation</strong></h5>
                         <p>
                         Our motion and animation services include: animatics, video shooting, editing, post production, 
                         motion graphics, 3d animation, flash animation, HTML5 & CSS3 animation, character animation,
                         music creation, and sound editing.
                          </p>
                      </div>
                  </div>
              </div> <!-- END .column-section -->
              <div class="column-section clearfix">
                  <div class="column one-third iconbox clearfix sr-animation sr-animation-frombottom" data-delay="0">
                    <i class="fa fa-users fa-2x fa-fw"></i>
                      <div class="iconbox-content">
                        <h5><strong>CRM Development</strong></h5>
                         <p>
                         A Customer Relationship Management system is an important tool for any business. CRMs are 
                         essential for tracking business development, sales progress, and customer satisfaction; its use 
                         ultimately leads to increased revenues. We'll work with you to develop a system that fits your business 
                         process, and once live, we'll train your employees to use it effectively.
                          </p>
                      </div>
                  </div>
                  <div class="column one-third iconbox clearfix sr-animation sr-animation-frombottom" data-delay="200">
                    <i class="fa  fa-clipboard fa-2x fa-fw"></i>
                      <div class="iconbox-content">
                        <h5><strong>CMS Development</strong></h5>
                         <p>
                         Our custom CMS solutions are known for their ease of use. Our content management systems power
                         a range of sites from Fortune 500 companies to other small to medium-sized enterprises. A custom 
                         CMS provides the flexibility of updating content on your website, with an easy to use interface.
                          </p>
                      </div>
                  </div>
                  <div class="column one-third iconbox last-col clearfix sr-animation sr-animation-frombottom" data-delay="400">
                    <i class="fa fa-filter fa-2x fa-fw"></i>
                      <div class="iconbox-content">
                        <h5><strong>Lead Generation</strong></h5>
                         <p>
                         Through the use of machine learning, data mining, screen scraping, and other creative approaches, we 
                         can find leads for your business. Whether your business is a traditional or non-traditional enterprise,
                         we can find leads for virtually any client.
                          </p>
                      </div>
                  </div>
              </div> <!-- END .column-section -->
              <div class="column-section clearfix">
                  <div class="column one-third iconbox clearfix sr-animation sr-animation-frombottom" data-delay="0">
                    <i class="fa fa-money fa-2x fa-fw"></i>
                      <div class="iconbox-content">
                        <h5><strong>E-Commerce</strong></h5>
                         <p>
                         Our preferred e-commerce solution is the tried and tested Magento software. The eBay-owned 
                         solution is used by hundreds of thousands of merchants worldwide and is easily one of the most 
                         robust and feature-packed e-commerce solutions available. Allow us to set up your online presence, or 
                         customize your e-commerce software to meet the demands of your business.
                          </p>
                      </div>
                  </div>
              </div> <!-- END .column-section -->
        
                </div> <!-- END .wrapper -->      
           
            <div class="spacer spacer-big"></div>
            
        <!-- FACTS -->
        <div id="facts" class="horizontalsection text-light parallax-section">
          <div class="horizontalinner wrapper">
            <h3 class="align-center">Some interesting facts about us</h3> 
            <div class="spacer spacer-small"></div>
            <div class="column-section clearfix align-center">
              <div class="column one-fourth">
                <i class="fa fa-check-square-o fa-3x fw"></i>
                <div class="counter">
                  <div class="counter-value" data-from="0" data-to="38" data-speed="12">0</div>
                  <h6 class="counter-name"><strong>Languages &amp; Frameworks Spoken</strong></h6>
                </div>
              </div>
                          <div class="column one-fourth">
                          <i class="fa fa-coffee fa-3x fw"></i>
                              <div class="counter">
                                  <div class="counter-value" data-from="0" data-to="3525" data-speed="200">0</div>
                                  <h6 class="counter-name"><strong>Cups Consumed</strong></h6>
                          </div>
                          </div>
                          <div class="column one-fourth">
                            <i class="fa fa-thumbs-o-up fa-3x fw"></i>
                            <div class="counter">
                                    <div class="counter-value" data-from="0" data-to="75" data-speed="4">0</div>
                                    <h6 class="counter-name"><strong>years of cumulative team experience</strong></h6>
                            </div>
                          </div>
                          <div class="column one-fourth last-col">
                            <i class="fa fa-bug fa-3x fw"></i>
                            <div class="counter">
                                    <a href="javascript:showSql()" style="color: #fff"><div class="counter-value" data-from="0" data-to="690" data-speed="31">0</div></a>
                                    <h6 class="counter-name"><a href="javascript:showSql()" style="color: #fff"><strong>Bugs Squashed in 2013</strong></a></h6>
                                    <script type="text/javascript">
                                    function showSql() {
                                        $('#sql').toggle('slide');
                                    }
                                    </script>
                                </div>
                          </div>
                        </div> <!-- END .column-section --> 
                        
                        <div class="counter-name" style="display: none; margin-top: 20px;" id="sql">
                          <h3>How'd we arrive at this number? SQL of course!</h3>
                            select trackers.name, issue_statuses.name, count(*) from issues left join issue_statuses on issue_statuses.id=issues.status_id left join trackers on trackers.id=issues.tracker_id where issue_statuses.name = "Resolved" and issues.updated_on >= "2013-01-01" and issues.updated_on < "2014-01-01" group by trackers.name; </div> 
                    </div>  
                </div> <!-- END #facts-->
        <!-- FACTS -->
                   
      </div> <!-- END .section-inner-->
    </section> <!-- END SECTION #service-->
    <!-- SERVICE -->
    
    <!-- PORTFOLIO -->
    <section id="portfolio">
            <div class="section-inner">
                
            <div class="wrapper">
                <div class="section-title">
                    <h2>Our Work</h2>
                    <div class="seperator size-small"><span></span></div>
                    <h4 class="subtitle">See what we have done for our happy clients</h4>
                </div>
            </div> <!-- END .wrapper -->
            
            <!-- AJAX AREA -->    
            <div id="ajax-portfolio" class="ajax-section">
        <div id="ajax-loader"><div class="loader-icon"><span class="spinner"></span><span></span></div></div>
          <div class="ajax-content clearfix"> 
                      <!-- THE LOADED CONTENT WILL BE ADDED HERE -->
                  </div>
        <div class="close-project"><a href="index.html">Close</a></div>
            </div>    
            <!-- AJAX AREA -->    
            
           <div class="wrapper">
        <ul id="portfolio-filter" class="filter clearfix" data-related-grid="portfolio-grid">
          <li><a class="active" href="#" data-option-value="*">All</a></li>
          <li><a data-option-value=".web" href="#" title="Web">Web</a></li>
          <li><a data-option-value=".uxui" href="#" title="UX/UI">UX/UI</a></li>
          <li><a data-option-value=".erp" href="#" title="ERP">ERP</a></li>
          <li><a data-option-value=".motion" href="#" title="Motion">Motion</a></li>
          <li><a data-option-value=".branding" href="#" title="Branding">Branding</a></li>
        </ul>                                                       
           </div> <!-- END .wrapper -->
           
           <div id="portfolio-grid" class="masonry portfolio-entries clearfix" data-maxitemwidth="370">
                
                <div class="portfolio-masonry-entry masonry-item web">
                    <div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                                <img src="/bundles/replaycreativesite/images/portfolio/people.png" alt="People.com" />
                            <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo"><h6>Rich Media Advertisements <br />+ Web Development</h6></div></div>
                        </div>
                   </div>
                   
                    <div class="entry-intro portfolio-intro">
                        <div class="intro-headline portfolio-intro-headline">
                            <h5 class="portfolio-name"><strong>People Magazine</strong></h5>
                        </div>
                    </div>
                </div> <!-- END .portfolio-masonry-entry -->
                
                <div class="portfolio-masonry-entry masonry-item web erp uxui">
                    <div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                                <img src="/bundles/replaycreativesite/images/portfolio/altonlane.png" alt="" />
                            <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo"><h6>Custom CRM, UX/UI<br />+ Web Development</h6></div></div>
                        </div>
                   </div>
                   
                    <div class="entry-intro portfolio-intro">
                        <div class="intro-headline portfolio-intro-headline">
                            <h5 class="portfolio-name"><strong>Alton Lane</strong></h5>
                        </div>
                    </div>
                </div> <!-- END .portfolio-masonry-entry -->
                
                <div class="portfolio-masonry-entry masonry-item motion branding web erp uxui">
                    <div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                                <img src="/bundles/replaycreativesite/images/portfolio/voxio.png" alt="Voxio" />
                            <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo"><h6>Branding, Motion, <br />UX/UI, Technology</h6></div></div>
                        </div>
                   </div>
                   
                    <div class="entry-intro portfolio-intro">
                        <div class="intro-headline portfolio-intro-headline">
                            <h5 class="portfolio-name"><strong>Voxio</strong></h5>
                        </div>
                    </div>
                </div> <!-- END .portfolio-masonry-entry -->
                
                <div class="portfolio-masonry-entry masonry-item web uxui">
                    <div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                                <img src="/bundles/replaycreativesite/images/portfolio/jnj.png" alt="Johnson and Johnson" />
                            <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo"><h6>Web Development<br/>+ Custom CMS, UX/UI</h6></div></div>
                        </div>
                   </div>
                   
                    <div class="entry-intro portfolio-intro">
                        <div class="intro-headline portfolio-intro-headline">
                            <h5 class="portfolio-name"><strong>Johnson &amp; Johnson</strong></h5>
                        </div>
                    </div>
                </div> <!-- END .portfolio-masonry-entry -->
        
                <div class="portfolio-masonry-entry masonry-item web">
                    <div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                                <img src="/bundles/replaycreativesite/images/portfolio/time.png" alt="Time Magazine" />
                            <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo"><h6>Rich Media Advertisements<br />+ Web Development</h6></div></div>
                        </div>
                   </div>
                   
                    <div class="entry-intro portfolio-intro">
                        <div class="intro-headline portfolio-intro-headline">
                            <h5 class="portfolio-name"><strong>Time Magazine</strong></h5>
                        </div>
                    </div>
                </div> <!-- END .portfolio-masonry-entry -->
                
                <div class="portfolio-masonry-entry masonry-item web">
                    <div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <img src="/bundles/replaycreativesite/images/portfolio/millennium.png" alt="Millennium Systems International" />
                            <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo"><h6>Web Development<br /> + Custom CMS</h6></div></div>
                        </div>
                   </div>
                   
                    <div class="entry-intro portfolio-intro">
                        <div class="intro-headline portfolio-intro-headline">
                            <h5 class="portfolio-name"><strong>Millennium Systems International</strong></h5>
                        </div>
                    </div>
                </div> <!-- END .portfolio-masonry-entry -->
                
                <div class="portfolio-masonry-entry masonry-item web ux/ui erp">
                    <div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                                <img src="/bundles/replaycreativesite/images/portfolio/massideation.png" alt="Mass Ideation" />
                            <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo"><h6>Web Development, UX/UI<br />ERP, Consulting</h6></div></div>
                        </div>
                   </div>
                   
                    <div class="entry-intro portfolio-intro">
                        <div class="intro-headline portfolio-intro-headline">
                            <h5 class="portfolio-name"><strong>Mass Ideation</strong></h5>
                        </div>
                    </div>
                </div> <!-- END .portfolio-masonry-entry -->
                
                <div class="portfolio-masonry-entry masonry-item web">
                    <div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                                <img src="/bundles/replaycreativesite/images/portfolio/ew.png" alt="Entertainment Weekly" />
                            <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo"><h6>Rich Media Advertisements<br />+ Web Development</h6></div></div>
                        </div>
                   </div>
                   
                    <div class="entry-intro portfolio-intro">
                        <div class="intro-headline portfolio-intro-headline">
                            <h5 class="portfolio-name"><strong>Entertainment Weekly</strong></h5>
                        </div>
                    </div>
                </div> <!-- END .portfolio-masonry-entry -->
                
          </div> <!-- END #portfolio-grid -->
              
          <div class="spacer spacer-big"></div>   
           
        <!-- TESTIMONIALS -->
           <div id="testimonials" class="horizontalsection text-light parallax-section">
        <div class="horizontalinner wrapper">
                  
                  <div class="section-title">
                    <h2>Words of Wisdom</h2>
                </div>   
                    
                  <div class="flexslider testimonial-slider">
                      <ul class="slides">
                          <li>
                            <div class="testimonial-item">
                                <h3 class="testimonial-quote">Simple can be harder than complex: You have to work hard to get your thinking clean to make it simple. But it’s worth it in the end because once you get there, you can move mountains.</h3>
                                <h6 class="testimonial-name">- <strong>Steve Jobs</strong> -</h6>
                            </div>
                         </li>
                          <li>
                            <div class="testimonial-item">
                                <h3 class="testimonial-quote">Perfection is achieved, not when there is nothing more to add, but when there is nothing left to take away.</h3>
                                <h6 class="testimonial-name">- <strong>Antoine de Saint-Exupéry</strong> -</h6>
                            </div>   
                          </li>
                        <li>
                            <div class="testimonial-item">
                                <h3 class="testimonial-quote">I want to make beautiful things, even if nobody cares, as opposed to ugly things. That’s my intent.</h3>
                                <h6 class="testimonial-name">- <strong>Saul Bass</strong> -</h6>
                            </div>   
                          </li>
                          <li>
                            <div class="testimonial-item">
                              <h3 class="testimonial-quote">Programmers are not to be measured by their ingenuity and their logic but by the completeness of their case analysis.</h3>
                              <h6 class="testimonial-name">- <strong>Alan J. Perlis</strong> -</h6>
                            </div>
                          </li>
                      </ul>
                  </div> <!-- END .flexslider -->
                    
        </div>
          </div> <!-- END #testimonials -->
      <!-- TESTIMONIALS -->
                          
            </div> <!-- END .section-inner-->
      </section> <!-- END SECTION #portfolio-->
        <!-- PORTFOLIO --> 
       
      <!-- TEAM --> 
    <section id="team">
            <div class="section-inner">
                <div class="wrapper">  
                        
              <div class="section-title">
                  <h2>Meet the team</h2>
                  <div class="seperator size-small"><span></span></div>
                  <h4 class="subtitle">We will make your ideas possible</h4>
                </div>
                
              <div class="column-section clearfix">
                  <div class="column one-third align-center">
                    <div class="team-pic">
                        <div class="imgoverlay text-light">
                          <img src="/bundles/replaycreativesite/theme/files/images/team/anthony.png" alt="Martin Nguyen">
                         </div>
                      </div>
                      <h4 class="team-name"><strong>Martin Nguyen</strong></h4>
                      <h6 class="team-role">President, Founder</h6>
                      <div class="seperator size-mini height-small"><span></span></div> 
                      <p class="team-info">
                      Anthony has been coding since the age of 12 and has been running online businesses since 13. He has successfully founded and operated a web hosting business, an image hosting service, an e-commerce/apparel business, an affiliate marketing business, a social networking website, and is currently President and founder of DragonIT. <a href="#" class="seemore">See More</a><div class="more">He has worked with various funded startups, agencies and Fortune 500 companies and delivered projects for clients including Johnson & Johnson, Time Inc (People Magazine, Time, Entertainment Weekly, Sports Illustrated, etc), Kraft Foods, Kiehls, Alton Lane, Mass Ideation, SureDone, Speek, and Mobcaster. The scope of his engagements and skill-set encompass highly technical projects including enterprise systems infrastructure development projects, digital marketing, growth hacking, branding and website/mobile development. Anthony is a proven leader in marketing, sales and technology. When he's not busy managing client projects or coding personal projects, he's likely to be found playing piano or composing music. <a href="#" class="seeless">See Less</a></div>
                    </p>
                  </div> 
                  <div class="column one-third align-center">
                    <div class="team-pic">
                        <div class="imgoverlay text-light">
                          <img src="/bundles/replaycreativesite/theme/files/images/team/joao.png" alt="João Campos">
                        </div>
                      </div>
                      <h4 class="team-name"><strong>João Campos</strong></h4>
                      <h6 class="team-role">Senior Software Engineer</h6>
                      <div class="seperator size-mini height-small"><span></span></div> 
                      <p class="team-info">
                      João has over a decade of software engineering and systems administration experience working on 
                      diverse projects including multimedia, hardware, security, telecommunications, and enterprise. He is 
                      an expert full-stack engineer. He's also an avid cyclist and mountain climber.
                    </p>
                  </div>
                  <div class="column one-third last-col align-center">
                    <div class="team-pic">
                        <div class="imgoverlay text-light">
                          <img src="/bundles/replaycreativesite/theme/files/images/team/henryk.png" alt="Henryk Stawicki">
                         </div>
                      </div>
                      <h4 class="team-name"><strong>Henryk Stawicki</strong></h4>
                      <h6 class="team-role">Brand & Marketing Stategist</h6>
                      <div class="seperator size-mini height-small"><span></span></div> 
                      <p class="team-info">
                      In the past 11 years Henryk worked as project developer and manager, strategist and analyst. He was recently part of a team working on brand strategy for the Thrillist Media Group and their main brands: Jackthreads, Thrillist and Supercompressor. Henryk has previously worked for international organizations in Poland including Design Centrum Kielce, Lodz Federation of NGO's, Kielce Technology Park, Lodz Art Center and Lodz Design Festival. <a href="#" class="seemore">See More</a><div class="more">He graduated in Marketing and Management and interned at the Brunswick Consulting Group in London. He is a current MS candidate in Strategic Design and Management at Parsons New York and also is project assistant for the program. Henryk is passionate about design-led strategy, service design, sustainability, empathy and human centered design. <a href="#" class="seeless">See less</a> </div>
                    </p>
                  </div>    
            </div> <!-- END .column-section -->
              <div class="column-section clearfix">
                  <div class="column one-third align-center">
                    <div class="team-pic">
                        <div class="imgoverlay text-light">
                          <img src="/bundles/replaycreativesite/theme/files/images/team/blair.png" alt="Blair Trump">
                         </div>
                      </div>
                      <h4 class="team-name"><strong>Blair Trump</strong></h4>
                      <h6 class="team-role">Vice President, Solutions Architect</h6>
                      <div class="seperator size-mini height-small"><span></span></div> 
                      <p class="team-info">
                      Blair has developed and built IT solutions for organizations ranging from tech startups to leading companies in publishing and entertainment. He is sought after for his ability to comprehensively assess and unpack clients' technical needs, engineering innovative results and seamless transitions to new systems. He enjoys the challenge of discovering not if he can solve a quandary, but how.  <a href="#" class="seemore">See More</a><div class="more">Blair is an advocate for diversity and access in tech and piloted a youth computer science module at UC Berkeley that he plans to expand to underserved communities in NYC. <a href="#" class="seeless">See less</a> </div>
                    </p>
                  </div>    
                  <div class="column one-third align-center">
                    <div class="team-pic">
                        <div class="imgoverlay text-light">
                          <img src="/bundles/replaycreativesite/theme/files/images/team/boris.png" alt="Judson Rogers">
                         </div>
                      </div>
                      <h4 class="team-name"><strong>Boris Coto</strong></h4>
                      <h6 class="team-role">Project Manager</h6>
                      <div class="seperator size-mini height-small"><span></span></div> 
                      <p class="team-info">
                        Boris is a Hardware Engineer with a good mix of software development skills to make him dangerous. He has developed and managed large infrastructure projects for HP, and Advanced Micro Devices. Most recently he managed the development of test infrastructure used for Playstation4. Currently Boris is developing an ecommerce shopping cart app. <a href="#" class="seemore"> <br />See More</a> <div class="more">In his spare time Boris likes to think about Quantum Mechanics, and would like to solve the "spooky action at a distance" dilemma. <a href="#" class="seeless">See less</a> </div>
                      </p>
                  </div> 
                  <div class="column one-third last-col align-center">
                    <div class="team-pic">
                        <div class="imgoverlay text-light">
                          <img src="/bundles/replaycreativesite/theme/files/images/team/aj.jpg" alt="AJ Sanchez">
                         </div>
                      </div>
                      <h4 class="team-name"><strong>AJ Sanchez</strong></h4>
                      <h6 class="team-role">Chief Data Scientist</h6>
                      <div class="seperator size-mini height-small"><span></span></div> 
                      <p class="team-info">
                      With more than 15 years of experience in the Software Engineering field, AJ has worked in numerous software development projects, which has exposed him to many platforms, languages, environments, cultures, and roles. His current focus is the use of Machine Learning, Text Analytics, Data Mining, and Artificial Intelligence <a href="#" class="seemore">See More</a> <div class="more">to help large and small organizations alike to be more productive, through the implementation of custom-made Predictive Analytics and Visualization tools, hosted on the Cloud. He was selected by Coursera to be a tutor for their Machine Learning Course—October 2013 to January 2014, and March to May 2014 editions. His reviews on the Google Helpouts platform can be seen at <a href="http://goo.gl/ZjNgLO" target="_window">http://goo.gl/ZjNgLO</a>. AJ holds MS and PhD degrees in Computer Science from Rensselaer Polytechnic Institute (RPI).<a href="#" class="seeless"> See less</a></div>
                    </p>
                  </div>    
            </div> <!-- END .column-section -->
      
              </div> <!-- END .wrapper -->
                
              <div class="spacer spacer-big"></div>
              
        <!-- PASSIONATE -->
              <div id="passionate" class="horizontalsection text-light parallax-section">
          <div class="horizontalinner wrapper align-center">
                    <h2>We are passionate about quality</h2>
                      <div class="spacer spacer-small"></div>
                      <p><a href="#portfolio" class="scroll-to sr-button sr-button4 medium-button">See our Work</a></p>
                </div>
              </div>
        <!-- PASSIONATE -->
                  
          </div> <!-- END .section-inner-->
      </section>
    <!-- TEAM -->
       
      <!-- CONTACT --> 
       <section id="contact">
            <div class="section-inner wrapper">
                        
              <div class="section-title">
                  <h2>Contact us</h2>
                  <div class="seperator size-small"><span></span></div>
                  <h4 class="subtitle">Don't hesitate to get in touch with us<br>We would love to discuss your project</h4>
                </div>
              
              <div class="column-section clearfix">
                  <div class="column one-half"> 
                    <div id="form-container">
                      {{ render(controller('ReplayCreativeSiteBundle:Default:Contact', { form_type: 'bare', 'has_footer':false })) }}              
                    </div>
                  </div>
                    
                  <div class="column one-half last-col"> 
                    <h5>Drop in!</h5>
                    <p>
                    We'd be happy to set up a free consultation to talk about your project. Send us a message and we'll
                    reach out to you within a day.
                    </p> 
            <div class="spacer spacer-small"></div>
                      <h5><strong>DragonIT</strong></h5>
                      <p>
                      115 E. 23rd St<br>
                      3rd Floor<br>
                      New York City, NY 10010
                      </p> 
                  </div>
              </div> <!-- END .column-section --> 
        
        <div class="spacer spacer-big"></div>
      
      </div> <!-- END .section-inner-->
      </section>
    <!-- CONTACT -->

{% include 'ReplayCreativeSiteBundle:Default:footer.html.twig' %}
