.theme-orman.slider-wrapper {
	height: 372px;
	margin: 0px auto;
	max-width: 1920px;
	width: 1064px;
	position:relative;
}
#full .theme-orman.slider-wrapper {
	margin: 32px auto;
	height: 372px;
}
.theme-orman .nivoSlider {
	position:relative;
	background:url(loading.gif) no-repeat 50% 50%;
	height: 372px;
}
.theme-orman .nivoSlider img {
	 position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-orman .nivoSlider a {
    border:0;
    display:block;
}
.theme-orman .nivo-controlNav {
	position:absolute;
	left:50%;
	bottom: -26px;
	margin-left:-30px; 
}
.theme-orman .nivo-controlNav a {
    display:block;
    width:10px;
    height:10px;
    background:url(bullets.png) no-repeat;
    text-indent:-9999px;
    border:0;
    margin-right:7px;
    float:left;
}
.theme-orman .nivo-controlNav a.active {
    background-position:0 -10px;
}

.theme-orman .nivo-directionNav a {
	display:block;
	width:25px;
	height:200px;
	background:url(arrows.png) no-repeat 0% 50%;
	text-indent:-9999px;
	border:0;
	top: 25%;
}
.theme-orman a.nivo-nextNav {
	background-position:100% 50%;
	right:0px;
	padding-right:20px;
}
.theme-orman a.nivo-prevNav {
	left:0px;
	padding-left:20px;
}
.theme-orman .nivo-caption a { 
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-orman .nivo-caption a:hover { 
    color:#fff;
}

.theme-orman .ribbon {
    background:url(ribbon.png) no-repeat;
    width:111px;
    height:111px;
    position:absolute;
    top:-3px;
    left:-3px;
    z-index: 9;
}