<div class="post-meta">
	<ul>
		<li class="date"><span class="day">{{ day }}</span><span class="month">{{ month }}</span><span class="year">{{ year }}</span></li>
		{# <li class="comments"><a href="#">0 Comments</a></li> #}
	</ul>
</div>