			<div class="grid_8">
				<h3 class="top-header"><span>Our <b>Blog</b></span></h3>
				<ul class="blog-posts">						
					<li class="clearfix">
						{% for post in posts %}
						<div>
							<div class="thumb">
							 	<ul class="portfolio_list da-thumbs">
									<li>
							            		<a href="{{ path('replay_creative_site_blog_post_show', {id: post.id, slug: post.slug}) }}" title="{{ post.title }}">
							            			<img width="100" height="100" src="{{ asset(post.author.ImageUrl) }}" alt="{{ post.author }}">
							            		</a>
							            		<article class="da-animate" style="display: block;">
							            			<span class="link_post"><a href="{{ path('replay_creative_site_blog_post_show', {id: post.id, slug: post.slug}) }}"></a></span>
							            		</article>
							        </li>
							 	</ul>
							</div>
						</div>
						<div class="grid_8">
						<h3 class="entry-title"><a href="{{ path('replay_creative_site_blog_post_show', {id: post.id, slug: post.slug}) }}" class="title" title="{{ post.title }}">{{ post.title }}</a></h3>
						<div class="entry-meta">
							<span class="published">{{ post.publishedAt|date('F j, Y') }}</span>
							{# <span class="meta-sep">·</span>
							<span class="comment-count"><a href="#" title="Comment on Standard New LandScape Shots">3 Comments</a></span>
							#}
						</div>
						<p>{{ post.shortDescription }} <a href="{{ path('replay_creative_site_blog_post_show', {id: post.id, slug: post.slug}) }}">Read More ... </a></p>
					</div>
					</li>

					<li class="clearfix">
					{% endfor %}
				</ul>
			</div>