{% include 'ReplayCreativeSiteBundle:Default:header.html.twig' with {current: 'blog'} %}
	<div class="theme20-feature">
		<img src="{{ asset('bundles/replaycreativesite/images/assets/bg10.jpg') }}" alt="#" />
		<ul class="page-title">
			<li><a href="{{ path('replay_creative_site_homepage') }}">Home</a></li>
			<li>Blog</li>
		</ul>
		<div class="caption-bg"></div>
	</div>

	<div class="tt-col row clearfix">
		<div class="grid_8 posts">
			{% for post in posts|reverse %}
			{% set link = path('replay_creative_site_blog_post_show', {id: post.id, slug: post.slug}) %}

			<div class="post clearfix">
				<div class="header">
					<ul class="portfolio_list da-thumbs">
						<li>
							<a href="{{ link }}" title="post thumbnail title"></a>
							<article class="da-animate" style="display: block;">
								<span class="link_post"><a href="{{ link }}" title="{{ post.title }}"></a></span>
								<span class="zoom"><a href="images/assets/post01.jpg" title="{{ post.title }}"></a></span>
							</article>
						</li>
					</ul>
					{% include 'ReplayCreativeSiteBundle:Blog:_post_meta.html.twig' 
						with { 
								day: post.publishedAt|date('j'), 
								month: post.publishedAt|date('M')|upper, 
								year: post.publishedAt|date('Y') 
							}
					%}
				</div>
				<div class="content">
						<h3><a href="{{ link }}" class="clickable">{{ post.title }}</a></h3>
						<p>{{ post.shortDescription }} <a href="{{ link }}" class="more" style="font-size: 70%" title="Read More: {{post.title}}">Read More</a></p>
					<div class="post-footer">
						<ul>
							<li>by: <a href="#">{{ post.author.userName }}</a></li>
							<li>Tags: {% for tag in post.tags %} <a href="#">{{ tag.name }}</a>{% if loop.last == false %},{% endif %}{% endfor %}</li>
						</ul>
						<a href="{{ link }}" class="more" title="Read More: {{post.title}}">Read More</a>
					</div>
				</div>
			</div><!-- End Post -->
		{% endfor %}
{# 
			<div class="pagination">
				<span>Pages 1 of 25</span>
				<ul class="numbers">
					<li class="current"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li>...</li>
					<li><a href="#">25</a></li>
				</ul>
			</div>
#}
		</div>
	</div>
{% include 'ReplayCreativeSiteBundle:Default:footer.html.twig' %}
