{% include 'ReplayCreativeSiteBundle:Default:header.html.twig' with {current: 'blog'} %}
{% set link = path('replay_creative_site_blog_post_show', {id: post.id, slug: post.slug}) %}

	<div class="theme20-feature">
		<img src="/bundles/replaycreativesite/images/assets/bg09.jpg" alt="#">
		<ul class="page-title">
			<li><a href="{{ path('replay_creative_site_homepage') }}">Home</a></li>
			<li><a href="{{path('replay_creative_site_blog_index')}}">Blog</a></li>
			<li>{{ post.title }}</li>
		</ul>
		<ul class="bjqs-controls v-centered arrowes">
			{#
			<li class="bjqs-prev"><a href="#" title="Previous Post"><img src="/bundles/replaycreativesite/images/left.png" alt="Previous Post"></a></li>
			<li class="bjqs-next"><a href="#" title="Next Post"><img src="/bundles/replaycreativesite/images/right.png" alt="Previous Post"></a></li>
			#}
		</ul>
		<div class="caption-bg"></div>
	</div>

	<div class="tt-col row clearfix">
		<div class="grid_12 posts">
			<div class="post singlepage clearfix" id="post">
				<div class="header">
					
					{% include 'ReplayCreativeSiteBundle:Blog:_post_meta.html.twig' 
						with { 
								day: post.publishedAt|date('j'), 
								month: post.publishedAt|date('M')|upper, 
								year: post.publishedAt|date('Y') 
							}
					%}
				</div>
				<div class="content">
					<div class="post-footer clearfix">
						<ul>
							<li>by: <a href="#">{{ post.author }}</a></li>
							{# <li>Categories: <a href="#">Templates</a>, <a href="#">Wordpress</a></li> #}
							<li>Tags: {% for tag in post.tags %} <a href="#">{{ tag.name }}</a>{% if loop.last == false %},{% endif %}{% endfor %}</li>
						</ul>
					</div>
						<h3><a href="{{ link }}" class="post-title">{{ post.title }}</a></h3>
						<p>{{ post.body|raw }}</p>


				</div>

					<ul class="author-row">						
						<li class="clearfix">
							<div>
								<div class="thumb"><img width="100" height="100" src="{{ asset(post.author.ImageUrl) }}" alt="#"></div>
							</div>
							<div class="grid_8">
								<h3 class="entry-title"><a href="#" class="title">{{ post.author }}</a><i>author</i></h3>
								<p>{{ post.author.bio }}</p>
							</div>
							{# 
							<div class="social">
								<a href="#" class="twitter" title="Follow me on Twitter">twitter</a>
								<a href="#" class="facebook" title="Follow me on Facebook">facebook</a>
							</div>
							#}
						</li>
					</ul>

	

	

	
			</div><!-- End Post -->
<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'replaycreative'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

		</div>
{#
			<div class="grid_4 sidebar">
				
				

				<div class="widget">
					<h3 class="top-header"><span>About DragonIT</span></h3>
					<p>Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae Lorem ipsum ex vix illud nonummy, novum tation et 
						Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae Lorem ipsum ex vix illud nonummy. 
						<a href="#">Learn More</a>
					</p>
				</div>

				

				

				<div class="widget tags">
					<h3 class="top-header"><span>Blog Tags</span></h3>
					{#% render(url('replay_creative_site_blog_tags_component')) %#}
{#
				</div>
				
				
			</div>
#}
	</div>


{% include 'ReplayCreativeSiteBundle:Default:footer.html.twig' %}
