/*-----------------------------------------------------------------------------------
	COLORS:
	
	default font color			#666666
	light font color				#999999
	dark font color				#262626
	
	body background				#fafafa
		
	main color						#4da5f5


/*-----------------------------------------------------------------------------------

	0.	RESET & CLEARFIX
	1.	BASICS (body, headers, links, etc)
	2. 	GENERAL ELEMENTS
	3.	HEADER
	4.  FOOTER
	6.  NAVIGATION & MENU
	7.  PAGE TITLE
	8.  SLIDER
	9.  MAIN
	10. MAP
	11. BLOG
	12. PORTFOLIO
	13. VIEWS / LIKES
	14. FILTER
	15. PAGINATION
	16. COMMENTS
	17. LEAVE COMMENT
	18. COLUMNS GRID
	19. ICONBOX
	20. ELEMENTS / SHORTCODES
	21. WIDGETS
	22. IMG OVERLAY
	23. NOT FOUND
	23. SCROLLBAR
	
-----------------------------------------------------------------------------------*/



/*---------------------------------------------- 
0. RESET & CLEARFIX
------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%; }
	
ol, ul  { list-style: none; }

:focus  { outline: 0; }

/* deleting the default appearence for form elements */
input[type=text], input[type=password], input[type=submit], textarea, select { -moz-appearance: none; -webkit-appearance: none; }

.clearfix:after { content: ""; display: block; clear: both; visibility: hidden; font-size: 0;  height: 0; }
.clearfix { *display: inline-block; height: 1%; }
.clear { clear: both; display: block; font-size: 0;	height: 0; line-height: 0; width:100%; }

/* HTML5 display definitions */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, dialog { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; visibility: hidden; }



/*---------------------------------------------- 
1. BASICS
------------------------------------------------*/
html {
	height: 100%;
	font-size: 100%;
	/*overflow-y: scroll; /* Force a scrollbar in non-IE */
	/*overflow-x: hidden;*/
	-webkit-text-size-adjust: 100%; /* Prevent iOS text size adjust on orientation change without disabling user zoom */
	-ms-text-size-adjust: 100%;
	position: relative;
	}

body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
	font-weight: 300;
	font-size:14px; 
	line-height: 22px;
	color:#666666; 
	text-align: left; 
	position: relative;
	background: #fafafa;
	height: 100%;
	}
::selection { background:#ffe49c; color:#262626; }
::-moz-selection { background:#ffe49c; color:#262626; }
::-webkit-selection { background:#ffe49c; color:#262626; }




/* Headings
---------------------------------------- */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway'; 
	font-weight: 400;
	color: #262626;
	}
	.text-light h1, .text-light h2, .text-light h3, .text-light h4, .text-light h5, .text-light h6 { color: #ffffff; }

h1 { font-size: 100px; line-height: 130px; }
h2 { font-size: 40px; line-height: 60px; }
h3 { font-size: 32px; line-height: 48px; }
h4 { font-size: 22px; line-height: 34px; }
h5 { font-size: 18px; line-height: 26px; }
h6 { font-size: 16px; line-height: 22px; }

h1 b, h2 b, h3 b, h4 b, h5 b, h6 b, h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong { font-weight: 600; }
	
/* Headers Spacing */
div h1, div h2, div h3, div h4, div h5, div h6 { margin-top: 20px; }
div h1:first-child, div h2:first-child, div h3:first-child, div h4:first-child, div h5:first-child, div h6:first-child { margin-top: 0px; }

.subtitle { margin-top: 5px; font-weight: 300; color: #666666; letter-spacing: 0.04em; }
.text-light .subtitle { opacity: 0.9; filter: alpha(opacity=90);	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; }

/* Headers for section titles */
.section-title { 
	text-align: center;
	margin-top: -10px;				/* fix for line-height spacing*/
	margin-bottom: 100px;
	}
	
.section-title h2 { 
	text-transform: uppercase;
	letter-spacing: -0.05em;
	font-weight: 900;  
	}
	
.widget-title {
	text-transform: uppercase;
	}
	
	

/* Forms
---------------------------------------- */
input[type=text], input[type=password], input[type=email], textarea {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
	font-weight: 400;
	font-size: 12px;
	background: #ffffff;
	border: 1px solid #d9d9d9;
	line-height: 18px;
	height: 18px;
	color:#999999;
	padding: 10px 4px;
	border-radius: 3px;
	-moz-border-radius: 3px; 
	-khtml-border-radius: 3px; 
	-webkit-border-radius: 3x;
	transition: all 200ms linear;
	}
	
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, textarea:focus { 
	border-color: #262626;
}

input.false[type=text], input.false[type=password]:focus, input.false[type=email], textarea.false { 
	border-color: #fa4d5a;
}

input[type=text], input[type=password], input[type=email] { width: 340px; max-width: 97%; }		/* padding issue (240 + 2*5 = 250) */
textarea { width: 1100px; height: 150px; max-width: 97%; padding: 11px 4px 8px 4px; line-height: 22px; }		/* padding issue (395 + 2*5 = 405) */

.one-half input[type=text], .one-half input[type=password], .one-half input[type=email] { width: 520px; }
.one-half textarea { width: 520px; }

input[type=submit] {
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 13px; 
	line-height: 22px ;
	letter-spacing: 0.15em; 
	text-transform: uppercase;
	text-align: center;
	display: block;
	border: none;
	color: #ffffff;	
	background: #262626;
	cursor: pointer;
	padding: 15px 40px;
	border-radius: 3px;
	-moz-border-radius:3px; 
	-khtml-border-radius:3px; 
	-webkit-border-radius:3px;
	-webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
	}
	
input[type=submit]:hover { 
	background-color: #4da5f5;
	transform: scale(1.07);
	-ms-transform: scale(1.07); 
	-webkit-transform: scale(1.07);
	}
	
select {
	border: 3px solid #ebebeb ;
	height: 44px;
	width: auto;
	padding:8px;
	color: #808080;
	border-radius: 0px;
	-moz-border-radius:0x; 
	-khtml-border-radius:0px; 
	-webkit-border-radius:0px;
	}
select:hover {	border-color: #262626;	}
	
select option {
	cursor: pointer;
	padding: 5px 7px;
	}
	
label {
	line-height: 26px;
	width: 100%;
	display:block;
	color: #262626;
	}
	
form {
	margin-top: 20px;
	}
	
form .form-row {
	margin-top: 15px;
	position: relative;
	}
	
form .form-submit {
	margin-top: 30px;
	}
	
form .form-value {
	/*width: 100%;*/
	max-width: 100%;
	position: relative;
	display: inline-block;
	}
	
div form:first-child, form .form-row:first-child 	 {
	margin-top: 0px;
	}
	

/* Chech formular */
#form-note {
	display: none;
	margin-top: 20px;
	}



/* Links
---------------------------------------- */
a {
	text-decoration: none;
	color: #4da5f5;
	cursor: pointer;
	-webkit-tap-highlight-color:rgba(0,0,0,0.0);
	}

a:hover {
	color: #262626;
	}	
	
.text-light a:hover { color: #ffffff; }



/* Embedded content
---------------------------------------- */
img, object, video {
	max-width: 100%; 
	height: auto;
	display: inline-block;
	margin:0;
    vertical-align:top;
	}
	
img {
	width: auto;
	max-width: 100%; 
	border: 0;
	-ms-interpolation-mode: bicubic;
	}

p img { margin-top: 20px; }
p img:first-child { margin-top: 0px; }
img.alignleft { margin: 3px 20px 20px 0; float: left; }
img.alignright { margin: 3px 0px 20px 20px; float: right; }

.embeddedvideo {
	position: relative;
	padding-bottom: 55%;
	padding-top: 14px;
	height: 0;
	overflow: hidden;
	}
	
.embeddedvideo iframe {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



/* Lists
---------------------------------------- */
ul {
	margin-top: 20px;
	margin-left: 15px;
	list-style: disc;
	}
	div ul:first-child, li ul:first-child { margin-top: 0px; }
	
ol {
	margin-top: 20px;
	margin-left: 30px;
	list-style: decimal;
	}
	div ol:first-child, li ol:first-child { margin-top: 0px; }

ul li, ol li {
	line-height: 20px;
	margin-top: 10px;
	}
	ul li:first-child, ol li:first-child { margin-top: 0px; }	

ul.list-nostyle {
	list-style: none !important;
	margin-left: 0 !important;
	}
	
ul.list-nostyle li > .fa {
	margin-right: 10px;
	}
	


/* Others
---------------------------------------- */
p { 
	margin-top: 20px; 
	}
	div p:first-child {  margin-top: 0px;  }	
	
strong, b, dt {
	font-weight: 600;
}

i, dfn, em {
	font-style: italic;
	}
	
strong i, b i, dt i, strong em, b em, dt em {
	font-style: italic;
	font-weight: bold;
	}

blockquote {
	margin-top: 20px;
	font-size: 16px; line-height: 24px;
	font-family: 'Raleway';
	font-weight: 300;
	padding-left: 20px;
	margin-left: 20px;
	color: #262626;
	border-left: 2px solid #d9d9d9;
	}
	div blockquote:first-child {  margin-top: 0px;  }

blockquote p {
	margin: 0;
	}
	
pre, code {
	padding: 3px 0 3px 20px;
	margin-left: 20px;
	margin-top: 20px;
	font-size: 11px;
	line-height: 16px;
	display: block;
	border-left: 2px solid #d9d9d9;
	color: #262626;
	}
	div pre:first-child, div code:first-child { margin-top: 0px; } 



/*---------------------------------------------- 
2. GENERAL ELEMENTS
------------------------------------------------*/
#page-content {
	overflow: hidden;
	margin: 0;
	min-width: 1100px;
	position: relative;
	}

.wrapper {
	width: 1100px;
	margin: 0 auto;
	}
	
.main-content {
	width: 740px;
	}
	
aside {
	width: 300px;
	}
	
.left-float { 
	float: left; 
	}
	
.right-float { 
	float: right; 
	}
	
.align-center {
	text-align: center;
	}
	
.text-light {
	color: #ffffff;
	}	
	


/*---------------------------------------------- 
3. HEADER
------------------------------------------------*/
header {
	background: #ffffff;
	box-shadow:  rgba(0,0,0, 0.2) 0px 0px 3px;
	-moz-box-shadow:  rgba(0,0,0, 0.2) 0px 0px 3px;
	-webkit-box-shadow:  rgba(0,0,0, 0.2) 0px 0px 3px;
	width: 100%;
	z-index: 10000;
	position: relative;
	}
	
#logo {
	padding: 20px 0; 
	max-width: 100%;
	max-height: 100%;
	height: 60px;
	transition: all 200ms linear;
	-webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
	}
	
#logo img {
	max-height: 100%;
	}
	
	
/* header shrinks when fixed & scrolled */	
.fixed-header header {
	position: fixed;
	left: 0; top: 0;
	}
	
.smallheader #logo {
	height: 40px;
	padding: 10px 0; 
	}
	
.smallheader nav#main-nav > ul > li > a:first-child {
	line-height: 40px;
	padding: 10px 0;
	}
	
.smallheader nav#menu-controls > ul > li {
	height: 40px;
	padding: 10px 0;
	}	
	
.smallheader nav#main-nav > ul > li > .sub-menu {
	top: 60px;
	}
		

/* header overlay style */	
header.header-overlay {
	background: transparent;
	box-shadow:  none;
	-moz-box-shadow:  none;
	-webkit-box-shadow:  none;
	position: absolute!important;
	left: 0; top: 0;
	}
	
header.header-overlay #defaut-logo {
	display: none;
	}
	


/*---------------------------------------------- 
4. PAGE_LOADER
------------------------------------------------*/
#page-loader {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #ffffff;
	z-index: 100001;
	}
	
.page-loader-inner {
	width: 300px;
	height: 120px;
	position: absolute;
	top: 50%; margin-top: -50px;
	left: 50%; margin-left: -150px;
	text-align: center;
	}
	
.page-loader-inner .loader-logo img {
	max-height: 60px;
	max-width: 300px;
	}
	
.page-loader-inner .loader-icon {
	position: absolute;
	top: 100px;
	left: 50%; margin-left: -10px;
	}
	


/*---------------------------------------------- 
4. FOOTER
------------------------------------------------*/
footer {
	background: #262626;
	padding: 80px 0;
	}
	
.footer-logo img {
	height: 60px;
	}
	

footer .copyright {
	font-size: 13px;
	color: #cccccc;
	}
	
	

/*---------------------------------------------- 
6. NAVIGATION & MENU
------------------------------------------------*/
.menu {
	position: relative;
	}

nav#main-nav {
	z-index: 50;
	}
	
nav#main-nav ul {
	position: relative;
	z-index: 49;
	margin: 0;
	padding: 0;
	list-style: none;
	}
	
nav#main-nav ul li {
	position: relative;
	z-index: 45;
	float: left;
	margin: 0 0 0 30px;
	padding: 0;
	min-width: 10px;
	}

nav#main-nav > ul > li > a  {
	display: block;
	font-family: 'Open Sans'; 
	font-weight: 600;
	font-size: 12px;
	line-height: 60px;					/* depending on the logo height */
	color: #262626;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	z-index: 45;
	padding: 20px 0;
	width: auto;
	transition: all 200ms linear;
	}
	
/* nav state for overlayed header*/	
.header-overlay nav#main-nav > ul > li > a {
	color: #ffffff;
	opacity: 0.7; 
	filter: alpha(opacity=7); 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	}
		
nav#main-nav > ul > li:hover > a {
	z-index: 48;
	color: #4da5f5;
	}
	
nav#main-nav > ul > li.current-menu-item > a, nav#main-nav > ul > li.current-menu-ancestor > a {
	color: #4da5f5;
	}

/* hover/active nav state for overlayed header*/	
.header-overlay nav#main-nav > ul > li:hover > a, .header-overlay nav#main-nav > ul > li.current-menu-item > a, .header-overlay nav#main-nav > ul > li.current-menu-ancestor > a {
	color: #ffffff;
	opacity: 1; 
	filter: alpha(opacity=100); 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	}
	
nav#main-nav ul li .sub-menu {
	position: relative;
	position: absolute;
	top: 100px;							/* depending on the logo height + padding */
	left: 0px;
	background: #262626;
	width: 200px;
	padding: 5px 0;
	display: none;
	z-index: 47;
	} 
	
nav#main-nav ul .sub-menu li {
	float: none;
	margin: 0;
	}
	
nav#main-nav ul .sub-menu li a {
	font-family: 'Open Sans'; 
	font-weight: 400;
	color: #999999;
	font-size: 12px;
	line-height: 20px;
	padding: 7px 20px;
	display: block;
	}
	
nav#main-nav ul .sub-menu > li:hover > a, nav#main-nav ul .sub-menu > li.current-menu-item > a {
	color: #ffffff;
	}

nav#main-nav ul li ul li .sub-menu {
	position: absolute;
	top: 0px;
	left: 200px;
	}
	


/* control nav when fixed & scrolled */
nav#menu-controls {
	display: none;
	}
	
nav#menu-controls ul {
	position: relative;
	z-index: 49;
	margin: 0;
	padding: 0;
	list-style: none;
	/*overflow: hidden;*/
	}
	
nav#menu-controls ul li {
	float: left;
	margin: 0 0 0 15px;
	padding: 20px 0;
	height: 60px;
	text-align: center;
	position: relative;
	width: 12px;
	transition: all 200ms linear;
	}
		
nav#menu-controls > ul > li a  {
	display: inline-block;
	color: #262626;
	padding: 2px;
	border: 1px solid transparent;
	border-radius: 10px;
	-moz-border-radius: 10px; 
	-khtml-border-radius: 10px; 
	-webkit-border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -6px;
	}
	
nav#menu-controls > ul > li.current-menu-item > a {
	border-color: #4da5f5;
	}
	
nav#menu-controls > ul > li.current-menu-item > a span.c-dot {
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
	
nav#menu-controls > ul > li a span.c-dot  {
	display: block;
	height: 6px;
	width: 6px;
	background: #262626;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-khtml-border-radius: 50%;
	-webkit-border-radius: 50%;
	}
	
nav#menu-controls > ul > li a:hover span.c-dot  {
	background: #4da5f5;
	}
	
nav#menu-controls > ul > li a span.c-name  {
	position: absolute;
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 10px;
	text-transform: uppercase;
	width: 100px;
	left: -44px;
	bottom: 12px;
	opacity: 0; 
	filter: alpha(opacity=0); 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
	}
	
nav#menu-controls > ul > li a:hover span.c-name {
	opacity: 1; 
	filter: alpha(opacity=100); 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	}



/* responsive nav on mobile view */	
.open-responsive-nav {
	padding: 10px 0;
	text-indent: -9999px;
	display: block;
	display: none;
	}
	
.open-responsive-nav span {
	display: block;
	width: 40px;
	height: 40px;
	background: url(../images/sprites.png) -340px 0 no-repeat;
	}
.header-overlay .open-responsive-nav span { background-position: -370px 0 ; }

#menu-responsive {
	position: absolute;
	background: #262626;
	padding: 0;
	top: 60px;
	right: -270px;
	width: 260px;
	height: 100%;
	z-index: 10000;
	box-shadow:  rgba(0,0,0, 0.2) 0px 0px 3px;
	-moz-box-shadow:  rgba(0,0,0, 0.2) 0px 0px 3px;
	-webkit-box-shadow:  rgba(0,0,0, 0.2) 0px 0px 3px;
	}
	
nav#responsive-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	}
nav#responsive-nav > ul {
	border-bottom: 1px solid #333333;
	}
	
nav#responsive-nav ul li {
	margin: 0;
	padding: 0;
	border-top: 1px solid #333333;
	position: relative;
	}
	nav#responsive-nav > ul > li:first-child {
	border-top: none;
	}
	
nav#responsive-nav > ul li > a {
	display: block;
	color: #cccccc;
	font-family: 'Open Sans'; 
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
	line-height: 24px;
	padding: 8px 20px;
	transition: all 200ms linear;
	}
	
nav#responsive-nav > ul > li:hover > a, nav#responsive-nav > ul > li.current-menu-item > a {
	color: #ffffff;
	}	
	
nav#responsive-nav .sub-menu li a {
	display: block;
	font-weight: 400;
	text-transform: inherit;
	color: #cccccc;
	line-height: 20px;
	padding: 10px 20px 10px 40px;
	font-size: 12px;
	}
	


/*---------------------------------------------- 
8. SLIDER
------------------------------------------------*/
.home-slider-container {
	width:100%;
	position:relative;
	padding:0;
	}

.home-slider-container ul {
	margin-top: 0;
	margin-left: 0;
	list-style: none;
	}
	
.home-slider-container ul li {
	line-height: 0;
	margin-top: 0;
	}



/*---------------------------------------------- 
10. SECTION
------------------------------------------------*/
section { }

.section-inner { padding-top: 100px; }
.no-padding .section-inner {	padding-top: 0px; }

.horizontalsection .horizontalinner {
	padding: 100px 0;
	}




/*---------------------------------------------- 
11. PORTFOLIO
------------------------------------------------*/
.portfolio-entries {
	width: 110%;				/* DO NOT CHANGE THIS VALUE */
	}
	
.portfolio-entries .masonry-item {
	width: 24.98%;				/* will be overwritten by javascript */
	margin-right: 0px;
	margin-bottom: 0px;
	float: left;
	}
	
.portfolio-spaced .masonry-item {
	margin-right: 10px;
	margin-bottom: 10px;
	}
	
.portfolio-entries .portfolio-intro {
	padding: 20px 0;
	text-align:center;
	}
	
.portfolio-name { 
	text-transform: uppercase; 
	}
	
.portfolio-name a { color: #262626; }
.portfolio-name a:hover { color: #4da5f5; }


/* Single Portfolio */
#portfolio-single {
	background: #ffffff;
	padding-top: 100px;
	}

#portfolio-single .project-title {
	position: relative;
	margin: 0;
	}
	
#portfolio-single .project-title .project-name {
	display: inline-block;
	max-width: 80%;
	}
	
#portfolio-single .social-share { 
	margin-top: 20px;
	}
	
#portfolio-single .portfolio-media, #portfolio-single .portfolio-content { 
	margin-top: 80px;
	position: relative;
	}
	
	
	
	
/* Portfolio Single Pagination
------------------------------- */	
	
.single-pagination {
	margin: 0;
	padding: 0;
	list-style: none;
	}
	
.single-pagination li {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 50%;
	margin-top: -15px !important;
	}
	
.single-pagination li a {
	background: url(../images/sprites.png) no-repeat;
	display: block; 
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	-webkit-transition: opacity 0.1s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out;
    -o-transition: opacity 0.1s ease-in-out;
    -ms-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
	opacity: 0.3; 
	filter: alpha(opacity=30); 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	}
	
.single-pagination li a:hover { opacity: 1; filter: alpha(opacity=100); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
	
.single-pagination li.next { right: 0; }
.single-pagination li.prev { left: 0; }

.single-pagination li.next a { background-position: -220px 0px; }
.single-pagination li.prev a { background-position: -250px 0px; }




/*---------------------------------------------- 
12. PORTFOLIO AJAX
------------------------------------------------*/
.ajax-section {
	padding-bottom: 100px;
	position: relative;
	display: none;
	}
	
.ajax-content {
	display: none;
	}
	
#ajax-loader {
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	top: 0;
  	left: 0;
  	z-index: 0;
	display: none;
	}
	
#ajax-loader .loader-icon {
  	position: absolute;
  	top: 40px;
  	left: 50%; margin-left: -10px;
	}	
	
.close-project {
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 130px;
	left: 0;
	display: none;
	}
	
.close-project a {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	background: url(../images/sprites.png) -310px 0px no-repeat;
	-webkit-transition: opacity 0.1s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out;
    -o-transition: opacity 0.1s ease-in-out;
    -ms-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
	opacity: 0.3; 
	filter: alpha(opacity=30); 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	}
	
.close-project a:hover {
	opacity: 1; 
	filter: alpha(opacity=100); 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	}
	


/*---------------------------------------------- 
13. FILTER
------------------------------------------------*/
.filter {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	margin-bottom: 33px;
	}
	
.filter li {
	padding: 0 13px 0 15px;
	margin: 0;	
	display: inline-block;
	}	
	
.filter li a {
	line-height: 20px;
	color: #262626;
	text-transform: uppercase;
	font-family: 'Raleway';
	font-weight: 600;
	font-size: 13px;
	letter-spacing: 0.1em;
	padding-bottom: 2px;
	margin-bottom: 7px;
	display: block;
	border-bottom: 2px solid transparent;
	}
	
.filter li a.active, .filter li a:hover {
	border-color: #4da5f5;
	}
	



/*---------------------------------------------- 
14. BLOG
------------------------------------------------*/
.blog-entry {
	border-top: 1px solid #d9d9d9;
	padding-top: 60px;
	margin-top: 60px;
	}
	div .blog-entry:first-child { border: none; padding: 0; margin: 0; }

.blog-date {
	width: 70px;
	float: left;
	color: #262626;
	text-align: center;
	}
	
.blog-date .date-day {
	display: block;
	font-family: 'Open Sans'; 
	font-weight: 800;
	font-size: 60px;
	line-height: 50px;
	margin-bottom: 10px;
	}
	
.blog-date .date-month {
	display: block;
	font-family: 'Open Sans'; 
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	}
	
.blog-content {
	width: 630px;
	float: right;
	}
	
.blog-media {
	margin-bottom: 40px;
	}
	
.blog-headline .post-name a {
	color: #262626;
	}
.blog-headline .post-name a:hover {	color: #4da5f5; }

.blog-headline .post-meta {
	color: #999999;
	margin-top: 0px;
	font-size: 13px;
	text-transform: uppercase;
	}
	
.blog-headline .post-meta a {
	color: #999999;
	}
.blog-headline .post-meta a:hover {	color: #262626; }

.blog-intro {
	margin-top: 20px;	
	}
	
.readmore-button {
	line-height: 20px;
	color: #262626;
	text-transform: uppercase;
	font-family: 'Raleway';
	font-weight: 600;
	font-size: 13px;
	letter-spacing: 0.1em;
	padding-bottom: 2px;
	display: inline-block;
	border-bottom: 2px solid #262626;
	}
	
.readmore-button:hover {
	border-color: #4da5f5;
	}
	
	
/* Blog Quote post & Link post 
----------------------------*/
.blog-content .quote-author, .blog-content .link-name {
	color: #999999;
	margin-top: 10px;
	font-size: 13px;
	text-transform: uppercase;
	}	
	
	
	
/* Blog comments 
----------------------------*/
#blog-comments {
	border-top: 1px solid #d9d9d9;
	margin-top: 60px;
	padding-top: 60px;
	}
	
#blog-comments ul {
	background: none;
	list-style: none;
	margin: 0;
	padding: 0;
	}
	
#blog-comments .comment-list {
	margin-top: 40px;
	}	
	
#blog-comments .comment {
	background: none;
	padding: 0;
	margin-top: 30px;
	border-top: 1px solid #d9d9d9;
	padding-top: 30px;
	overflow: hidden;
	}
	#blog-comments .comment-list > .comment:first-child {
		border-top: none;
		margin-top: 0px;
		padding-top: 0px;
		}	
		
#blog-comments .comment .children { 
	margin-left: 70px; 
	}
	
#blog-comments .user {
	float: left;
	width: 50px;
	}
	
#blog-comments .comment-content {
	margin-left: 70px;
	position: relative;
	}
		
#blog-comments .comment-date {
	color: #999999;
	font-size: 13px;
	font-family: 'Raleway';
	font-weight: 300;
	}
	
	
	
/* Leave comment
----------------------------*/	
#blog-leavecomment {
	margin-top: 60px;
	}
	
	

/* Blog Pagination 
----------------------------*/
#entries-pagination {
	margin: 60px 0 0 0;
	padding: 60px 0 0 0;
	list-style: none;
	border-top: 1px solid #d9d9d9;
	}
	
#entries-pagination li {
	margin: 0;
	padding: 0;
	}

#entries-pagination li a {
	background: url(../images/sprites.png) no-repeat;
	display: block; 
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	-webkit-transition: opacity 0.1s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out;
    -o-transition: opacity 0.1s ease-in-out;
    -ms-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
	opacity: 0.3; 
	filter: alpha(opacity=30); 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	}
	
#entries-pagination li.next { float: right; }
#entries-pagination li.next a { background-position: -220px 0px; }
#entries-pagination li.prev { float: left; }
#entries-pagination li.prev a { background-position: -250px 0px; }

#entries-pagination li a:hover { 
	opacity: 1; 
	filter: alpha(opacity=100); 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	}
	
	
	
/*---------------------------------------------- 
19. COLUMNS GRID
------------------------------------------------*/
.column-section { margin-top: 60px; }
div .column-section:first-child { margin-top: 0px; }
	
.column { 
	float: left; 
	margin-right: 40px;
	min-height: 1px;
	}

.one-full { width: 100%; float: none; margin-right: 0; }
.one-half  { width: 530px; }
.one-third { width: 340px; }
.two-third { width: 720px; }
.one-fourth { width: 245px; }
.two-fourth { width: 530px; }
.three-fourth { width: 815px; }
.one-fifth { width: 188px; }
.two-fifth { width: 416px; }
.three-fifth { width: 644px; }
.four-fifth { width: 872px; }

.main-content .one-half  { width: 350px; }
.main-content .one-third { width: 220px; }
.main-content .two-third { width: 480px; }
.main-content .one-fourth { width: 155px; }
.main-content .two-fourth { width: 350px; }
.main-content .three-fourth { width: 545px; }
.main-content .one-fifth { width: 116px; }
.main-content .two-fifth { width: 272px; }
.main-content .three-fifth { width: 428px; }
.main-content .four-fifth { width: 584px; }

aside .column { width: 100% !important; float: none !important; margin-right: 0 !important; }

.last-col { margin-right: 0px !important; }



/*---------------------------------------------- 
10. MAP
------------------------------------------------*/	
#map {
	width: 100%;
	height: 400px;
	overflow: hidden;
	}

#map img {						
	max-width: inherit;
	height: auto;
	}


	

/*---------------------------------------------- 
20. Elements
------------------------------------------------*/	

/*	Buttons
------------------------------------------------*/
a.sr-button {
	display: inline-block;
	font-family: 'Open Sans';
	font-weight: 600;
	line-height: 22px !important;
	letter-spacing: 0.15em; 
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 5px;
	border-radius: 3px;
	-moz-border-radius:3px; 
	-khtml-border-radius:3px; 
	-webkit-border-radius:3px;
	-webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
	}
	
a.sr-button:hover {
	background-color: #ffffff;
	color : #1a1a1a;
	transform: scale(1.07);
	-ms-transform: scale(1.07); 
	-webkit-transform: scale(1.07);
	}
	
a.mini-button { font-size: 10px; padding: 5px 10px; border-radius: 2px;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px; }
a.small-button { font-size: 11px; padding: 10px 20px; }
a.medium-button { font-size: 13px; padding: 12px 40px; }
a.big-button { font-size: 15px;	padding: 20px 40px;	}

a.sr-button1 {	border: 2px solid #999999; color: #262626;	background: transparent; }
a.sr-button1:hover { border-color: #262626; background-color: #262626; color: #ffffff; }

a.sr-button2 {	border: 2px solid #262626; color: #262626;	background: transparent; }
a.sr-button2:hover { background-color: #1a1a1a; color: #ffffff; }

a.sr-button3 { border: 2px solid #4da5f5; color: #4da5f5;	background: transparent; }
a.sr-button3:hover { background: #4da5f5; color: #ffffff; }

a.sr-button4 {	border: 2px solid #ffffff; color: #ffffff;	background: transparent; }
a.sr-button4:hover { background-color: #ffffff; color: #262626; }

a.sr-buttonicon {
	font-size:22px !important;
	border-radius: 999px;
    -moz-border-radius: 999px;
    -webkit-border-radius: 999px;
    -o-border-radius: 999px;
	border: 2px solid #262626;
    color: #262626;
    height: 40px !important;
    line-height: 40px !important;
    vertical-align: middle ;
    width: 40px ;
	padding: 10px;
}
a.sr-buttonicon:hover { background: #262626; color: #ffffff; transform: scale(1.15); -ms-transform: scale(1.15); -webkit-transform: scale(1.15); }

a.sr-buttonicon.small-iconbutton {
	width: 34px ;
	height: 35px !important;
    line-height: 34px !important;
	padding: 0px;
	}

.text-light a.sr-buttonicon  {
	border-color: #ffffff;
    color: #ffffff;
	}
.text-light a.sr-buttonicon:hover { background: #ffffff; color: #262626; }



	
/*	seperator
------------------------------------------------*/
.seperator {
	width: 100%;
	height: 4px;
	line-height: 0px;
	padding: 8px 0;
	text-align: center;
	}
	
.section-title .seperator { padding: 16px 0;  }

.seperator span {
	height: 2px;
	background: #000000;
	display: inline-block;
	width: 100px;
	opacity: 0.15; 
	filter: alpha(opacity=15);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
	}
	.text-light .seperator span { background: #ffffff; opacity: 0.2; filter: alpha(opacity=20);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; }

.seperator.size-full span { width: 100%; }
.seperator.size-medium span { width: 220px; }
.seperator.size-small span { width: 100px; }
.seperator.size-mini span { width: 40px; }

.seperator.height-small span { height: 1px; }




/*	Spacer
------------------------------------------------*/
.spacer {
	width: 100%;
	display: block;
	}	

.spacer.spacer-mini { height: 15px; }
.spacer.spacer-small { height: 40px; }
.spacer.spacer-medium { height: 60px; }
.spacer.spacer-big { height: 100px; }



/*	counter
------------------------------------------------*/
.counter {
	margin-top: 10px;
	}
	div .counter:fist-child {
	margin-top: 0px;
	}
	
.counter-value {
	font-family: 'Open Sans'; 
	font-weight: 800;
	font-size: 48px;
	line-height: 60px;
	}
	
.counter-name {
	font-size: 13px;
	text-transform: uppercase;
	margin-top: 15px;
	letter-spacing: 0.1em;
	}



/*	icon box
------------------------------------------------*/
.column .iconbox {
	margin-top: 40px;
	}
	.column .iconbox:first-child {
	margin-top: 0px;
	}

.iconbox .fa {
	color: #4da5f5;
	}

.iconbox-content {
	float: right;
	width: 290px;
	}
	
.one-half .iconbox-content { width: 480px; }
.one-third .iconbox-content { width: 290px; }
.one-fourth .iconbox-content { width: 195px; }




/*	team
------------------------------------------------*/
.team-name {
	text-transform: uppercase; 
	}
	
.team-role {
	margin-top: 0px;
	}
	
.team-info {
	margin-top: 5px;
	}
	



/*	testimonials
------------------------------------------------*/
.testimonial-item {
	text-align:center;
	}
	
.slides .testimonial-item {
	padding-bottom: 40px;	/* flexslider bugfix */
	}
	
.testimonial-name {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	}
	
	
/*	Tabs
------------------------------------------------*/
.tabs {
	margin-top: 20px;
	}
	div .tabs:first-child {
	margin-top: 0px;
	}
	
.tabs ul.tab-nav {
	padding: 0;
	margin: 0;
	margin: 0 !important;
	list-style: none !important;
	position: relative;
	z-index: 1;
	}
	
.tabs ul.tab-nav li {
	background: none;
	padding: 0 !important;
	float: left;
	margin: 0 30px 0 0 !important;
	}
	
	
.tabs ul.tab-nav li a {
	color: #262626;
	text-transform: uppercase;
	font-family: 'Raleway';
	font-weight: 600;
	font-size: 13px;
	letter-spacing: 0.1em;
	line-height: 20px;
	padding-bottom: 2px;
	display: block;
	border-bottom: 2px solid transparent;
	}
	.text-light .tabs ul.tab-nav li a { color: #ffffff; }
	
.tabs ul.tab-nav li a:hover, .tabs ul.tab-nav li a.active {
	border-color: #4da5f5;
	}
	
.tabs .tab-container {
	margin-top: 20px;
	}
	
.tabs .tab-container .tab-content {
	float: left;
	display: none;
	}
	
.tabs .tab-container .active {
	display: block;
	}
	
	
/*	Toggle/Accordion
------------------------------------------------*/
.accordion {
	margin-top: 20px;
	}
	div .accordion:first-child {	margin-top: 0px; }
	
.toggle-item {
	margin-top: 20px;
	}
	div .toggle-item:first-child {	margin-top: 0px; }
	
.toggle-item .toggle-title {
	width: 100%;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	}
	
.toggle-item .toggle-title .toggle-icon .fa {
	color: #262626;
	float: left;
	top: 5px;
	position: relative;
	}
	.text-light .toggle-item .toggle-title .toggle-icon .fa {	color: #ffffff; }
	
.toggle-icon .fa-plus { display: block; }
.toggle-icon .fa-minus { display: none; }
.toggle-active .fa-plus { display: none; }
.toggle-active .fa-minus { display: block; }
		
.toggle-item .toggle-title .toggle-name {
	float: left;
	margin: 0 0 0 20px;
	}
	
.toggle-item .toggle-title:hover .toggle-icon .fa, .toggle-item .toggle-active .toggle-icon .fa {
	color: #4da5f5 !important;
	}
	
.toggle-item .toggle-inner {
	padding-top: 18px;
	display: none;
	}
	


/*	Alerts
------------------------------------------------*/		
.alert {
	margin-top: 20px;
	}
	div .alert:first-child { margin:0; }

.alert h6 {
	padding-bottom: 2px;
	border-bottom: 2px solid red;
	display: inline-block;
	}	
	

.alert-info h6 { border-color: #3fabf6; color: #3fabf6; }
.alert-note h6 { border-color: #fcad25; color: #fcad25; }
.alert-confirm h6 { border-color: #8fc236; color: #8fc236; }
.alert-error h6 { border-color: #fa4d5a; color: #fa4d5a; }



/*	Skills
------------------------------------------------*/	
.skill {
	margin-top: 20px;
	}
	div .skill:first-child {	margin-top: 0px; }

.skill .skill-name {
	margin-bottom: 5px;
	display: block;
	}
	
.skill .skill-bar {
	background: #d9d9d9;
	height: 8px; width: 100%;
	position: relative;
	border-radius: 2px;
	-moz-border-radius: 2px; 
	-khtml-border-radius: 2px; 
	-webkit-border-radius: 2x;
	}
.text-light .skill .skill-bar {
	background: #666666;
	}
	
.skill .skill-bar .skill-active {
	background: #4da5f5;
	height: 100%;
	position: relative;
	border-radius: 2px;
	-moz-border-radius: 2px; 
	-khtml-border-radius: 2px; 
	-webkit-border-radius: 2x;
	width: 0px;	
	}
	
.tooltip {
	position: absolute;
	width: 24px;
	height: 7px;
	line-height: 10px;
	line-height: 5px;
	padding: 8px 10px 6px 10px;
	font-size: 11px;
	text-align: center;
	color: #ffffff;
	background: #262626;
	border-radius: 2px;
	top: -20px;				/* will be set to -30px through js */
	right: -5px;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.text-light .tooltip {
	color: #262626;
	background: #ffffff;
}

.tooltip:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-width: 4px;
	border-style: solid;
	border-color: #262626 transparent transparent transparent;
	top: 21px;
	left: 18px;
}

.text-light .tooltip:after {
	border-color: #ffffff transparent transparent transparent;
}




/*---------------------------------------------- 
21. WIDGETS
------------------------------------------------*/
.widget {
	position: relative;
	margin-top: 40px;
	}
	.div .widget:first-child, aside .widget:first-child { margin-top: 0px; }	



/*	Widget with list
------------------------------------------------*/
.widget ul {
	list-style: none;
	padding: 0;
	margin: 20px 0 0 0;
	}
	
.widget ul li {
	padding: 8px 0;
	margin: 0;
	border-bottom: 1px solid #d9d9d9;
	}
	
.widget ul li a {
	color: #262626;
	}

.widget ul li a:hover {
	color: #4da5f5;
	}


/*	Tag Widget
------------------------------------------------*/
.tag-list {
	margin-top: 20px;
	}

.tag-list a {
	border: 1px solid #d9d9d9;
	display: inline-block;
	padding: 4px 8px ;
	font-size: 11px;
    border-radius: 2px;
	-moz-border-radius:2px; 
	-khtml-border-radius:2px; 
	-webkit-border-radius:2px;
	color: #999999;
	text-transform: uppercase;
	margin-bottom: 5px;
	margin-right: 3px;
	}	

.tag-list a:hover {
	border-color: #262626;
	color: #ffffff;
	background: #262626;
	}
	
	
/*	Social Widget
------------------------------------------------*/	
.socialmedia-widget {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	text-align: center;
	}
	div .socialmedia-widget:first-child { margin: 0; }
	
.socialmedia-widget li {
	display: inline-block;
	background: transparent;
	padding: 0px;
	margin: 0 3px 0 3px;
	position: relative;
	}
	
.socialmedia-widget li a {
	height: 30px;
	width: 30px;
	display: block;
	text-indent: -9999px;
	background: url(../images/social-icons.png);
	margin: 0;
	}
	
.social-share li a { opacity: 0.3; filter: alpha(opacity=30);	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; }
.text-light .social-share li a { opacity: 1; filter: alpha(opacity=100);	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
		
.socialmedia-widget li.facebook a { background-position: 0px top; }
.socialmedia-widget li.twitter a { background-position: -30px top; }
.socialmedia-widget li.thumblr a { background-position: -60px top; }
.socialmedia-widget li.vimeo a { background-position: -90px top; }
.socialmedia-widget li.dribbble a { background-position: -120px top; }
.socialmedia-widget li.deviantart a { background-position: -150px top; }
.socialmedia-widget li.behance a { background-position: -180px top; }
.socialmedia-widget li.flickr a { background-position: -210px top; }
.socialmedia-widget li.forrst a { background-position: -240px top; }
.socialmedia-widget li.linkedin a { background-position: -270px top; }
.socialmedia-widget li.rss a { background-position: -300px top; }
.socialmedia-widget li.googleplus a { background-position: -330px top; }
.socialmedia-widget li.pinterest a { background-position: -360px top; }
.socialmedia-widget li.youtube a { background-position: -390px top; }
.socialmedia-widget li.mail a { background-position: -420px top; }
.socialmedia-widget li.instagram a { background-position: -450px top; }
.socialmedia-widget li.xing a { background-position: -480px top; }
.socialmedia-widget li.dropbox a { background-position: -510px top; }

.text-light .socialmedia-widget li.facebook a { background-position: 0px -30px ; }
.text-light .socialmedia-widget li.twitter a { background-position: -30px -30px; }
.text-light .socialmedia-widget li.thumblr a { background-position: -60px -30px ; }
.text-light .socialmedia-widget li.vimeo a { background-position: -90px -30px ; }
.text-light .socialmedia-widget li.dribbble a { background-position: -120px -30px ; }
.text-light .socialmedia-widget li.deviantart a { background-position: -150px -30px ; }
.text-light .socialmedia-widget li.behance a { background-position: -180px -30px ; }
.text-light .socialmedia-widget li.flickr a { background-position: -210px -30px ; }
.text-light .socialmedia-widget li.forrst a { background-position: -240px -30px ; }
.text-light .socialmedia-widget li.linkedin a { background-position: -270px -30px ; }
.text-light .socialmedia-widget li.rss a { background-position: -300px -30px ; }
.text-light .socialmedia-widget li.googleplus a { background-position: -330px -30px ; }
.text-light .socialmedia-widget li.pinterest a { background-position: -360px -30px ; }
.text-light .socialmedia-widget li.youtube a { background-position: -390px -30px ; }
.text-light .socialmedia-widget li.mail a { background-position: -420px -30px ; }
.text-light .socialmedia-widget li.instagram a { background-position: -450px -30px ; }
.text-light .socialmedia-widget li.xing a { background-position: -480px -30px ; }
.text-light .socialmedia-widget li.dropbox a { background-position: -510px -30px ; }

.socialmedia-widget li:hover a { opacity: 1 !important; filter: alpha(opacity=100) !important;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important; }

.socialmedia-widget li.facebook:hover a { background-position: 0px bottom ; }
.socialmedia-widget li.twitter:hover a { background-position: -30px bottom; }
.socialmedia-widget li.thumblr:hover a { background-position: -60px bottom; }
.socialmedia-widget li.vimeo:hover a { background-position: -90px bottom; }
.socialmedia-widget li.dribbble:hover a { background-position: -120px bottom; }
.socialmedia-widget li.deviantart:hover a { background-position: -150px bottom; }
.socialmedia-widget li.behance:hover a { background-position: -180px bottom; }
.socialmedia-widget li.flickr:hover a { background-position: -210px bottom; }
.socialmedia-widget li.forrst:hover a { background-position: -240px bottom; }
.socialmedia-widget li.linkedin:hover a { background-position: -270px bottom; }
.socialmedia-widget li.rss:hover a { background-position: -300px bottom; }
.socialmedia-widget li.googleplus:hover a { background-position: -330px bottom ; }
.socialmedia-widget li.pinterest:hover a { background-position: -360px bottom ; }
.socialmedia-widget li.youtube:hover a { background-position: -390px bottom; }
.socialmedia-widget li.mail:hover a { background-position: -420px bottom; }
.socialmedia-widget li.instagram:hover a { background-position: -450px bottom; }
.socialmedia-widget li.xing:hover a { background-position: -480px bottom; }
.socialmedia-widget li.dropbox:hover a { background-position: -510px bottom; }




/*---------------------------------------------- 
25. IMG OVERLAY
------------------------------------------------*/
.imgoverlay {
	position: relative;
	overflow: hidden;
	display: block;
	max-width: 100%;
	}
	
.imgoverlay img {
	-webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
	}
	
.imgoverlay:hover img {
	transform: scale(1.07);
	-ms-transform: scale(1.07); 
	-webkit-transform: scale(1.07);
	}

.imgoverlay .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
	}
	
.imgoverlay:hover .overlay {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	}
	
.imgoverlay .overlaycolor {
	width: 100%;
	height: 100%;
	background: #000000;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	opacity: 0.8;
	filter: alpha(opacity=80);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	}
	
.imgoverlay .overlayinfo {
	width: 100%;
	text-align: center;
	display: block;
	position: absolute;
	top: 45%;
	left: 0;
	-webkit-transition: top 0.3s ease;
    -moz-transition: top 0.3s ease;
    -o-transition: top 0.3s ease;
    -ms-transition: top 0.3s ease;
    transition: top 0.3s ease;
	}
	
.imgoverlay:hover .overlayinfo {
	top: 50%;
	}	
	
.overlayinfo h6 {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	}


/*---------------------------------------------- 
25. IMG OVERLAY
------------------------------------------------*/
.loader-icon {
	position: relative;
  	z-index: 0;
	width: 24px;
	height: 24px;
	}	

.loader-icon span {
	width: 20px;
	height: 20px;
	position: absolute;
  	top: 0px;
  	left: 0px;
  	z-index: 0;
	border: 2px solid #d9d9d9;  
	border-radius: 50%;
	}
	
.loader-icon .spinner {
  	z-index: 1;
	border-color: #262626;  
	border-right-color: transparent;
	border-top-color: transparent;
	border-bottom-color: transparent;
	-webkit-animation: spin 1s linear infinite;
	-moz-animation: spin 1s linear infinite;
	-ms-animation: spin 1s linear infinite;
	-o-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
	}
	
@-webkit-keyframes spin { from { -webkit-transform: rotate(0deg); opacity: 0.4; } 50%  { -webkit-transform: rotate(180deg); opacity: 1; } to   { -webkit-transform: rotate(360deg); opacity: 0.4; } }
@-moz-keyframes spin { from { -moz-transform: rotate(0deg);  } 50%  { -moz-transform: rotate(180deg); } to   { -moz-transform: rotate(360deg);  } }
@-ms-keyframes spin { from { -ms-transform: rotate(0deg);  } }	to { -ms-transform: rotate(360deg); } }
@-o-keyframes spin { from { -o-transform: rotate(0deg); } 50%  { -o-transform: rotate(180deg); } to   { -o-transform: rotate(360deg); } }
@keyframes spin { from { transform: rotate(0deg); } 50%  { transform: rotate(180deg); } to   { transform: rotate(360deg); } }	



/*---------------------------------------------- 
25. ANIMATIONS
------------------------------------------------*/
.sr-animation {
	position: relative;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    transition: all 0.7s ease;
	}
	
.sr-animation-fromtop { top: -50px; }
.sr-animation-frombottom { top: 50px; }
.sr-animation-fromleft { left: -30px; }
.sr-animation-fromright { left: 30px; }
.sr-animation-zoomin { transform: scale(0);	-ms-transform: scale(0); 	-webkit-transform: scale(0); }
.sr-animation-zoomout { transform: scale(1.5);	-ms-transform: scale(1.5); 	-webkit-transform: scale(1.5); }

.sr-animation.animated { 
	top: 0; 
	left: 0; 
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";  
	height: 100%;
	max-height: 100%;
	transform: scale(1.0);
	-ms-transform: scale(1.0); 
	-webkit-transform: scale(1.0);
	}
	

	

/*---------------------------------------------- 
26. CUSTOM
------------------------------------------------*/
.sr-buttonicon .fa-play { left: 4px; position:relative; }
.sr-buttonicon .fa-angle-up { left: 2px; top: -2px; position:relative; }
.sr-buttonicon .fa-angle-down { left: 2px; top: 0px; position:relative; }

.xone { color: #4da5f5; }
	
/*	parallax bg sections
------------------------------------------------*/
#facts.parallax-section { background:url(../uploads/parallax-bg1.jpg) center center repeat; background-size: cover; } /* index */
#testimonials.parallax-section { background:url(../uploads/parallax-bg2.jpg) center center repeat; background-size: cover; } /* index */
#passionate.parallax-section { background:url(../uploads/parallax-bg3.jpg) center center repeat; background-size: cover; } /* index */
#quote.parallax-section { background:url(../uploads/parallax-bg3.jpg) center center repeat; background-size: cover; } /* index-headeroverlay*/

/*	dark bg sections
------------------------------------------------*/
.service-dark { background:#262626; } /* index-videobg */
#see-portfolio { background: #4da5f5; } /* index-videobg */
