﻿/* Reset Styling */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*	General Styling
 ************************************************************************/
* {
	outline: none;
	padding: 0px;
	margin: 0px
}
body {
	margin: 0 auto;
	padding: 0;
	background: #fff url(/bundles/replaycreativesite/images/patterns/pattern01.png) fixed repeat;
	color: #959595;
	line-height: 18px;
	font-family: "Open Sans", Helvetica, Arial;
	font-size: 13px;
}
img {
	max-width: 100%;
	border: none;
	display: block;
}
a {
	color: #494949;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
a:hover {
	color: #9B1616;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	color: #454545;
	padding: 0;
	margin: 0 0 16px 0;
	line-height: 130%;
	font-weight: bold;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}
p {
	line-height: 20px;
	margin-bottom: 32px;
}
p:first-child {
	margin-bottom: 12px;
}
p:last-child {
	margin-bottom: 0;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
ol {
	padding: 0;
	margin: 0;
}
ol li {
list-style: decimal;
	padding: 0 0 10px 0;
	margin: 0 0 0 20px;
	line-height: 24px;
}
ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
cite {
	float: right;
	padding: 0 0 5px 0;
}
hr {
	background: #eee;
	border: 0;
	clear: both;
	width: 100%;
	height: 1px;
	padding: 0;
	margin: 20px 0;
	position: relative;
}
pre {
	color: #ddd;
	background: url(/bundles/replaycreativesite/images/patterns/pattern02.png);
	border-left: 3px solid #9B1616 !important;
	padding: 5px 25px;
	margin: 5px 0 20px 0;
	font-family: "Courier New";
	overflow: auto;
	font-size: 12px;
	line-height: 24px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
code {
	color: #ddd;
	background: url(/bundles/replaycreativesite/images/patterns/pattern02.png);
	border-left: 3px solid #9B1616 !important;
	padding: 5px 25px;
	margin: 5px 0 20px 0;
	font-family: "Courier New";
	clear: both;
	display: block;
	font-size: 12px;
	line-height: 24px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
iframe {
	max-width: 100%;
}
mark {
	padding: 3px 5px;
}
textarea { 
	white-space:pre; 
}

/*	Original Columns
 ************************************************************************/
#boxed {
	width: 1064px;
	margin: 0 auto;
	background:#fff;
	box-shadow: 0 0px 1px rgba(0, 0, 0, 0.30);
}
#full {
	width: 100%;
	margin: 0 auto;
	background:#fff;
}

/*	Grid System
 ************************************************************************/
.left-sidebar .grid_8, .grid_4 {
	display: inline;
	float: right;
	position: relative;
	margin-left: 1%;
	margin-right: 1%;
}
.grid_12, .grid_11, .grid_10, .grid_9, .grid_8, .grid_7, .grid_6, 
.grid_4, .grid_5, .grid_3, .grid_2, .grid_1 {
	display: inline;
	float: left;
	position: relative;
	margin-left: 1%;
	margin-right: 1%;
}
.grid_12 {
	width: 98.0%;
}
.grid_11 {
	width: 89.667%;
}
.grid_10 {
	width: 81.333%;
}
.grid_9 {
	width: 73.0%;
}
.grid_8 {
	width: 64.667%;
}
.grid_7 {
	width: 56.333%;
}
.grid_6 {
	width: 48.0%;
}
.grid_5 {
	width: 39.667%;
}
.grid_4 {
	width: 31.333%;
}
.grid_3 {
	width: 23.0%;
}
.grid_2 {
	width: 14.667%;
}
.grid_1 {
	width: 6.333%;
}
.row {
	margin: 0 auto;
	width: 1032px;
}

/*	Header
 ************************************************************************/
#header {
	background: #272727 url(/bundles/replaycreativesite/images/pattern.png) repeat;
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
}
#header .logo{
	padding: 25px 24px;
	float: left;
	overflow: hidden;
}
.text-as-logo {
	height: 51px;
}
.logo h1 {
	position: absolute;
	top: 40px;
	left: 24px;
	font-size: 24px;
}
.logo h1 a {
	color: #9B1616;
}
.logo h1 a:hover {
	color: #ccc;
	
}

#extraInfo #searchform { 
	padding: 40px 20px;
}
#extraInfo #searchform label { 
	font-size:18px;
}
#searchform input {
	background: white url(/bundles/replaycreativesite/images/search-icon.png) 764px center no-repeat;
	border: 1px solid #E0E0E0;
	border-radius: 3px;
	width: 80%;
	padding: 10px;
	color: #C5C5C5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 20px;
}
.search-icon {
	background: transparent url(/bundles/replaycreativesite/images/search-icon.png) no-repeat;
	width: 13px;
	height: 14px;
	position: relative;
	display: block;
}
.close-icon {
	background: transparent url(/bundles/replaycreativesite/images/close-icon.png) no-repeat;
	width: 13px;
	height: 14px;
	position: relative;
	display: block;
}
.nav-icon {
	background: transparent url(/bundles/replaycreativesite/images/nav-icon.png) no-repeat;
	width: 13px;
	height: 14px;
	position: relative;
	display: block;
}
#extraInfo { 
	background-color: #9B1616;
	color: white;
	display: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	position: relative;
	top: 0px;
	z-index: 99;
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
}
#boxed #extraInfo { 
	display: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	position: relative;
	top: 0px;
	z-index: 99;
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
}
#extraInfo p { 
	padding: 20px;
	font-style: italic;
	font-size: 14px;
}
#extraInfo a { 
	color: #000;
}
#extraInfo a:hover { 
	color: #fff;
	text-decoration: underline;
}
.extraicon, .extraicon2 {
	float: right;
	margin: 52px 24px 0 0;
}
ul.page-title {
	position: absolute;
	display: block;
	text-align: center;
	top: 162px;
	font-size: 16px;
	font-style: italic;
	width: 100%;
	z-index: 1;
	color: white;	
}
ul.page-title li {
	display: inline-block;
	margin: 0;
}
ul.page-title li:after {
	content: '/';
	color: #bbb;
	font-size: 10px;
	margin: 0 10px;
}
ul.page-title li:last-child:after {
	content: '';
}

/*	Navigation
 ************************************************************************/
#header nav {
	float: right;
	padding: 46px 24px 0px 8px;
}
#header nav ul li{
	float: left;
	padding: 0px 5px;
}
#header nav a {
	color: #fff;
	padding: 6px 14px;
	font-weight: normal;
	font-size: 14px;
	border-radius: 2px;
}
#header nav a:hover {
	background: rgba(0, 0, 0, 0.30);
}
#header nav ul li.current a{
	background: rgba(0, 0, 0, 0.30);
	padding: 6px 14px;
}
#header nav ul li a.sf-with-ul {
	padding: 6px 24px 6px 14px;
}
#header .grid_12:after {
	content: "";
	clear: both;
}

/*	Services
 ************************************************************************/
.services {
	text-align: center;
}
.two-s .grid_3 {
	background: #F1F1F1;
	width: 21%;
	padding: 32px 10px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.two-s a.button {
	display: block;
	width: 50%;
	color: white;
	background: #9B1616;
	margin: 24px auto 0;
}
.two-s .grid_3:hover a.button {
	color: white;
	background-color: #272727;
}
.two-s .grid_3:hover {
	background: #9B1616;
	color: #fff;
}
.two-s .grid_3:hover b {
	color: #fff !important;
}

h3.top-header {
	margin: 0px 0px 32px 0px;
	font-size: 16px;
	font-weight: bold;
	background: url(/bundles/replaycreativesite/images/line.png) center repeat-x;
	text-align: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
h3.top-header span {
	background: #fff;
	color: #000;
	text-transform: uppercase;
	padding-right: 20px;
}
h3.top-header span b {
	color: #9B1616;
}
.tt-col {
	position:relative;
	display: block;	
	margin: 64px auto;
	padding:0;
}
.tt-col img {
	position:relative;
	display: block;	
	margin: 0 auto;
}
.tt-col .circle {
	padding: 42px;
	border: 2px solid black;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	transform: rotate(0deg);
	-ms-transform: rotate(0deg); 
	-webkit-transform: rotate(0deg); 
	-o-transform: rotate(0deg);
	-moz-transform: rotate(0deg); 
}
.tt-col .grid_3:hover .circle {
	border-color: #9B1616;
	background-color: #9B1616;
	-webkit-transform: scale(1.1);
	transform: rotate(359deg);
	-ms-transform: rotate(359deg); 
	-webkit-transform: rotate(359deg); 
	-o-transform: rotate(359deg);
	-moz-transform: rotate(359deg); 
}


.tt-col h3.service-title {
	margin: 32px 0px 18px 0px;
	color: black;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.tt-col .grid_3:hover h3.service-title {
	-webkit-transform: scale(1.2);
}
.tt-col .grid_3:hover h3.service-title b {
	color: #9B1616;
}
.services a {
	font-weight: bold;
	color: #272727;
}
.services a:hover {
	color: #ccc;
}

/*	Basic Slider
 ************************************************************************/
#slider-basic {
	height: 384px;
	text-align: center;
}
#slider-basic iframe {
	width: 100%;
}
.theme20-feature {
	position:relative;
	display: block;	
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
}
.theme20-feature a {
	color: #9B1616;	
}
.theme20-feature a:hover {
	color: #fff;	
}
.theme20-feature img {
	height: 175px;
	background: transparent url(/bundles/replaycreativesite/images/lightbox/loading.gif) center center no-repeat;
	width: 100%;
	padding-bottom: 10px;
}
.theme20-feature .shadow {
	position: absolute;
	background-image: url(/bundles/replaycreativesite/images/shadow-top.png);
	background-repeat: no-repeat;
	background-position: top center;
	height: 42px;
	width: 100%;
	top: 0;
	z-index: 1;
}
.theme20-feature .bshadow {
	position: absolute;
	background-image: url(/bundles/replaycreativesite/images/shadow.png);
	background-repeat: no-repeat;
	background-position: top center;
	height: 42px;
	width: 100%;
	bottom: -42px;
	z-index: 1;
}
.theme20-feature .caption-bg {
	position: absolute;
	background-image: url(/bundles/replaycreativesite/images/caption-bg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	height: 62px;
	width: 100%;
	bottom: -18px;
	z-index: 0;
}
.theme20-feature .bottom-shadow {
	position: absolute;
	background-image: url(/bundles/replaycreativesite/images/shadow-bottom.png);
	background-repeat: no-repeat;
	background-position: top center;
	height: 49px;
	width: 100%;
	bottom: -39px;
	z-index: 0;
}
.slider-prev{
	background: #CCC url("/bundles/replaycreativesite/images/slider-prev.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 30px;
}
.slider-next{
	background: #CCC url("/bundles/replaycreativesite/images/slider-next.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 30px;
}
.slider-button {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.slider-button:hover {
	background-color: #9B1616;
}

/*	iView Slider
 ************************************************************************/
.iviewSlider {
	overflow: hidden;
}
#iview-timer {
	position: absolute;
	z-index: 100;
	cursor: pointer;
}
#iview-preloader {
	position: absolute;
	z-index: 1000;
	border: #000 1px solid;
	padding: 1px;
	width: 100px;
	height: 3px;
}
#iview-preloader div {
	float: left;
	height: 3px;
	background: #000;
	width: 0px;
}
.iview-strip {
	display:block;
	position:absolute;
	z-index:5;
}
.iview-block {
	display:block;
	position:absolute;
	z-index:5;
}
.iview-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.iview-prevNav {
	left:0px;
}
.iview-nextNav {
	right:0px;
}
.iview-controlNav {
	position:absolute;
	z-index:9;
}
.iview-controlNav a {
	z-index:9;
	cursor:pointer;
}
.iview-controlNav a.active {
	font-weight:bold;
}
.iview-controlNav .iview-items ul {
	list-style: none;
}
.iview-controlNav .iview-items ul li {
	display: inline;
	position: relative;
}
.iview-controlNav .iview-tooltip {
	position: absolute;
}
.iview-caption {
	position:absolute;
	z-index:4;
	overflow: hidden;
	cursor: default;
}
.iview-video-show {
	background: #000;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 101;
}
.iview-video-show .iview-video-container {
	position: relative;
	width: 100%;
	height: 100%;
}
.iview-video-show .iview-video-container a.iview-video-close {
	position: absolute;
	right: 10px;
	top: 10px;
	background: #222;
	color: #FFF;
	height: 20px;
	width: 20px;
	text-align: center;
	line-height: 29px;
	font-size: 22px;
	font-weight: bold;
	overflow: hidden;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.iview-video-show .iview-video-container a.iview-video-close:hover {
	background: #444;
}



#iview {
	display: block;
	margin: 0 auto;
	max-width: 1920px;
	height: 382px;
	position: relative;
	overflow: hidden;
}
#iview .iviewSlider{
	display: block;
	width: 1064px;
	height: 382px;
	overflow: hidden;
}
#iview div.iview-directionNav {
	position: absolute;
	top: 187px;
	left: 0px;
	z-index: 9;
	width: 100%;
}
#iview div.iview-directionNav a {
	display: block;
	cursor: pointer;
	position: absolute;
	width: 27px;
	height: 27px;
	background-image: url(/bundles/replaycreativesite/images/bg_direction_nav_iview2.png);
	text-indent: -9999px;
	-webkit-transition: left 0.3s ease-in-out;
	-webkit-transition-property: left,right;
	-moz-transition: left 0.3s ease-in-out;
	-moz-transition-property: left,right;
	-o-transition: left 0.3s ease-in-out;
	-o-transition-property: left,right;
	-ms-transition: left 0.3s ease-in-out;
	-ms-transition-property: left,right;
	transition: left 0.3s ease-in-out;
	transition-property: left,right;
}
#iview div.iview-directionNav a.iview-nextNav {
	right: -27px;
	background-position: 27px 0px;
}
#iview div.iview-directionNav a.iview-prevNav {
	left: -27px;
	background-position: 0px 0px
}
#iview.iview-hover div.iview-directionNav a.iview-nextNav {
	right: 20px;
}
#iview.iview-hover div.iview-directionNav a.iview-prevNav {
	left: 20px;
}
.iview-controlNav {
	position: absolute;
	bottom: 20px;
	right: 2%;
}
.iview-controlNav a {
	text-indent: -9999px;
}
.iview-controlNav a.iview-control {
	padding: 0px;
	float: left;
	width: 11px;
	height: 11px;
	background: url('/bundles/replaycreativesite/images/bullets_2.png') no-repeat 0px 0px;
	line-height: 0px;
	margin-right: 7px;
}
.iview-controlNav a.iview-control.active {
	background-position: 0px -11px;
}
div.iview-directionNav {
	position: absolute;
	top: 150px;
	left: 0px;
	z-index: 9;
	width: 100%;
}
div.iview-directionNav a {
	display: block;
	cursor: pointer;
	position: absolute;
	width: 40px;
	height: 100px;
	background-image: url(/bundles/replaycreativesite/images/nav_paddles.png);
	text-indent: -9999px;
}
div.iview-directionNav a:active {
	background-image: url(/bundles/replaycreativesite/images/nav_paddles_down.png);
}
div.iview-directionNav a.iview-nextNav {
	right: 20px;
	background-position: 56px 0px;
}
div.iview-directionNav a.iview-prevNav {
	left: 20px;
	background-position: -16px 0px
}
.iview-caption2 {
	color: #FFF;
	padding: 16px 16px;
	font-size: 12px;
	text-shadow: #000 1px 1px 0px;
}
.iview-caption {
	background: url('/bundles/replaycreativesite/images/caption-bg.png');
	color: #FFF;
	padding: 16px 16px;
	font-size: 12px;
	text-shadow: #000 1px 1px 0px;
}
.iview-caption.video-caption {
	padding: 10px;
}
.iview-caption.caption1 {
	text-shadow: none;
}
.iview-caption.caption2 {
	background: #FFF;
	color: #000;
	text-shadow: none;
}
.iview-caption.caption3 {
	background: #c4302b;
	box-shadow: rgba(0, 0, 0, 0.7) 10px 10px 15px 0px;
	text-shadow: none;
}
.iview-caption.caption3 div {
	line-height: 150%;
	text-align: justify;
}
.iview-caption.caption4 {
	background: #9B1616;
	font-size: 24px;
	font-weight: bold;
	text-shadow: none;
}
.iview-caption.caption5 {
	background: #FFF;
	color: #000;
	font-size: 26px;
	text-shadow: none;
}
.iview-caption.caption6 {
	background: #272727;
	font-size: 20px;
	font-weight: bold;
	text-shadow: none;
}
#iview-preloader {
	border: #666 1px solid;
	width: 150px
}
#iview-preloader div {
	background: #666;
}



/*	Blog Posts
 ************************************************************************/
.post {
	margin-bottom: 96px;
}
.post iframe {
	width: 100%;
	display: block;
}
.post iframe:hover {
	z-index: 999;
}
.posts .header {
	position: relative;
}
.posts .header ul.da-thumbs li {
	float: none;
}
.posts .header ul.da-thumbs img{
	width: 100%;
	background: transparent url(/bundles/replaycreativesite/images/lightbox/loading.gif) center center no-repeat;
}
.posts .header span.link_post, .posts .header span.zoom {
	background-position: center !important;
	width: 46px;
	height: 46px;
	margin-top: 19% !important;
}
.posts .content {
	margin: 32px 0 0 160px;
}
.posts .content h3 {
	font-size: 16px;
	background: url(/bundles/replaycreativesite/images/h3-icon.png) no-repeat 0px 0px;
	padding-left: 32px;
	padding-top: 3px;
}
.two-column .grid_6 {
	width: 47%;
}
.two-column .content h3 {
	margin-top: 32px;
	background: url(/bundles/replaycreativesite/images/h3-icon.png) no-repeat 0px 0px;
	padding-left: 32px;
	padding-top: 3px;
}
.header .post-meta {
	color: white;
	position: absolute;
	bottom: -80px;
	left: 32px;
	text-align: center;
}
.header .post-meta .date {
	background: #9B1616;
	padding: 12px 20px;
}
.header .post-meta .date span {
	display:block;
	line-height: 20px;
	font-weight: bold;
}
.header .post-meta .date .day{
	font-size: 30px;
	line-height: 30px;
}
.header .post-meta .date .month{
	font-size: 20px;
	line-height: 20px;
}
.header .post-meta .date .year{
	font-size: 14px;
}
.header .post-meta .comments a {
	background: #C36250;
	color: #fff;
	padding: 6px 10px;
	font-weight: bold;
	font-size: 12px;
}
.header .post-meta .comments a:hover {
	background: #fff;
	color: #9B1616;
	padding: 6px 10px;
	font-size: 12px;
}
.two-column .header .post-meta {
	position: relative;
	bottom: 0;
	left: 0;
	font-size: 12px !important;
}
.two-column .grid_6 .content {
	margin: -8px 0 0 64px !important;
}
.two-column .grid_6 .header .post-meta .date .day, 
.two-column .grid_6 .header .post-meta .date .year, 
.two-column .grid_6 .header .post-meta .date .month  {
	font-size: 12px;
	line-height: 18px;
}
.two-column .grid_6 .header .post-meta li {
	background: #9B1616;
	padding: 5px;
	display: inline;
	float: left;
}
.singlepage .post-footer {
	border-bottom: 1px solid #EEE !important;
	border-top: 0px solid #EEE !important;
	padding: 0 0 6px 0 !important;
	margin: 0 0 16px 0 !important;
}
.singlepage h3 {
	margin-top: 0;
}
.post-footer {
	border-top: 1px solid #EEE;
	padding: 6px 0px 0 0;
	margin: 16px 0 0 0;
}
.post-footer ul {
	float: left;
	background: transparent url(/bundles/replaycreativesite/images/info-meta.png) 0px 2px no-repeat;
	padding-left: 26px;
}
.post-footer ul li {
	display: inline;
	margin: 0;
}
.post-footer ul li:after {
	content: '/';
	color: #bbb;
	font-size: 10px;
	margin: 0 10px;
}
.post-footer ul li:last-child:after {
	content: '';
}
.post-footer a.more {
	float: right;
	border-top: 1px solid #272727;
	padding: 5px 10px;
	margin-top: -7px;
	line-height: 20px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.post-footer a.more:hover {
	background: #9B1616;
	color: #fff;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.pagination {
	margin: 0px 0px 32px 0px;
	font-size: 14px;
	padding: 0 0 0 0;
	font-weight: normal;
	background: url(/bundles/replaycreativesite/images/line.png) center repeat-x;
	text-align: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.pagination span {
	background: #fff;
	color: #ADADAD;
	text-transform: uppercase;
	padding-right: 20px;
}
.pagination .numbers {
	background: #fff;
	color: #ADADAD;
	padding: 0 0 0 20px;
	float: right;
	text-align: right;
}
.pagination .numbers li {
	display: inline;
	margin: 0;
}
.pagination .numbers li:after {
	content: '/';
	color: #bbb;
	font-size: 10px;
	margin: 0 10px;
}
.pagination .numbers li:last-child:after {
	content: '';
	margin: 0;
}
.pagination ul li.current a {
	color: #bbb;
}

ul.blog-posts {margin-top: 16px;}
ul.blog-posts li {
	margin: 0 0 32px 0;
}
ul.blog-posts .thumb {
	float: left;
	display: block;
	margin: 0 30px 0 0;
}
ul.blog-posts .thumb ul li img {
	display: block;
	height: 100px;
	width: 100px;
}
.thumbsix ul.blog-posts .thumb ul li img {
	display: block;
	height: 60px;
	width: 60px;
}
.thumbsix ul.blog-posts .entry-meta {
	font-style: italic;
	font-size: 11px;
	margin: 0 0 6px 0;
	background: transparent url(/bundles/replaycreativesite/images/info-meta.png) 90px 2px no-repeat;
	padding-left: 112px;
}
ul.blog-posts h3.entry-title {
	margin: 0 0 12px 0;
	font-size: 14px;
	font-weight: bold;
	padding-top: 6px;
}
ul.blog-posts .entry-meta {
	font-style: italic;
	font-size: 11px;
	margin: 0 0 6px 0;
	background: transparent url(/bundles/replaycreativesite/images/info-meta.png) 130px 2px no-repeat;
	padding-left: 152px;
}
.sidebar ul.blog-posts .entry-meta, #recent ul.blog-posts .entry-meta, #popular ul.blog-posts .entry-meta {
	font-style: italic;
	font-size: 11px;
	margin: 0 0 6px 0;
	background: transparent url(/bundles/replaycreativesite/images/info-meta.png) 66px 2px no-repeat;
	padding-left: 88px;
}
#comments ul.blog-posts .entry-meta {
	font-style: italic;
	font-size: 11px;
	margin: 0 0 6px 0;
	background: none;
	padding-left: 0;
}
.admin-comment .thumb img {
	border: 2px dashed;
}
ul.author-row {
	margin: 64px 0;
}
ul.author-row li {
	margin: 0 0 32px 0;
}
ul.author-row .thumb {
	float: left;
	margin: 0 30px 0 0;
}
ul.author-row .thumb img {
	width: 100px;
	height: 100px;
}
ul.author-row h3.entry-title {
	margin: 0 0 12px 0;
	font-size: 14px;
	font-weight: bold;
}
ul.author-row h3.entry-title i {
	padding-left: 8px;
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
	color: #888;
}
ul.author-row .entry-meta {
	font-style: italic;
	font-size: 11px;
	margin: 0 0 6px 0;
}
ul.author-row .social {
	margin-top: -8px;
	float: right;
}
.similar-posts .image_grid li {
	width: 199px;
}

ul.showcomments {
	margin: 0;
}
ul.showcomments li {
	margin: 0 0 32px 0;
	border-bottom: 1px solid #E4E4E4;
	padding-bottom: 32px;
}
ul.showcomments li.child {
	margin: 0 0px 0 112px;
}
ul.showcomments .reply {
	position: relative;
	bottom: -10px;
	left: 0;
	font-size: 12px !important;
	text-align: center;
	font-style: italic;
}
ul.showcomments .thumb {
	float: left;
	margin: 0 30px 0 0;
}
ul.showcomments .thumb img {
	width: 80px;
	height: 80px;
}
ul.showcomments h4.entry-title {
	margin: 0 0 12px 0;
	font-size: 14px;
	font-weight: bold;
	padding-top: 6px;
}
ul.showcomments h4.entry-title i {
	padding-left: 8px;
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
	color: #888;
}
ul.showcomments span.date {
	float: right;
	padding-left: 8px;
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
	color: #888;
}
ul.showcomments .entry-meta {
	font-style: italic;
	font-size: 11px;
	margin: 0 0 6px 0;
}
ul.showcomments .social {
	margin-top: -8px;
	float: right;
}
.form-c, .singlepage {
	margin: 0 !important;
}
img.align-left {
	float: left;
	margin: 6px 30px 16px 0;
}
img.align-right {
	float: right;
	margin: 6px 0 16px 30px;
}
img.align-center {
	margin: 0 auto;
	padding-bottom: 16px;
}
.error-page p.error {
	text-align: center;
	margin: 0 auto;
	font-size: 20em;
	line-height: 240px;
	background: none;
	border: none;
}
.error-page p {
	text-align: center;
}

/*	Contact Form
 ************************************************************************/
#contact-us label {
	display: block;
	margin-bottom: 5px;
}
#contact-us input {
	border: 1px solid #E0E0E0;
	border-radius: 3px;
	width: 100%;
	padding: 10px;
	color: #C5C5C5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 8px 0;
}
#contact-us {
	width: 100%;
}
#contact-us textarea {
	border: 1px solid #E0E0E0;
	border-radius: 3px;
	width: 100%;
	height: 150px;
	padding: 10px;
	color: #C5C5C5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 8px 0;
}
#contact-us-message {
	display: none;
}
#contact-us .input-box {
	margin-bottom: 5px;
}
#contact-us .submit {
	text-align: right;
}
#contact-us .submit input {
	border: 1px solid #E0E0E0;
	padding: 10px;
	width: auto;
	color: #fff;
	background: #9B1616;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 16px 0;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
#contact-us .submit input:hover {
	border: 1px solid #272727;
	background: #272727;
	cursor: pointer;
}
#contact-us .error, #contact-us .success {
	padding: 5px 5px 5px 25px;
	margin: 5px 0px;
}
#contact-us .error {
	border: 1px solid #9B1616;
	background-image: url('/bundles/replaycreativesite/images/action-error.gif');
	background-repeat: no-repeat;
	background-position: 5px center;
}
#contact-us .success {
	border: 1px solid #009900;
	color: #003300;
	background-image: url('/bundles/replaycreativesite/images/action-success.gif');
	background-repeat: no-repeat;
	background-position: 5px center;
}
#contact-us .loading {
	padding: 10px 45px;
	font-size: 12px;
	background-image: url('/bundles/replaycreativesite/images/lightbox/loading.gif');
	background-repeat: no-repeat;
	background-position: 5px center;
	border: 1px solid #EEE;
}
.contact-page iframe {
	margin-top: 32px;
}

/*	Comments
 ************************************************************************/
#commentform label {
	display: block;
	margin-bottom: 5px;
}
#commentform .fields input {
	border: 1px solid #E0E0E0;
	border-radius: 3px;
	width: 70%;
	padding: 10px;
	color: #C5C5C5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 16px 0;
}
#commentform textarea {
	border: 1px solid #E0E0E0;
	border-radius: 3px;
	width: 100%;
	padding: 10px;
	color: #C5C5C5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 16px 0;
}
#commentform .form-submit input {
	border: 1px solid #E0E0E0;
	padding: 10px;
	color: #fff;
	background: #9B1616;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 16px 0;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
#commentform .form-submit input:hover {
	border: 1px solid #272727;
	background: #272727;
	cursor: pointer;
}

/*	Sidebar
 ************************************************************************/
.sidebar #searchform input, .sidebar #searchform2 input  {
	background: white url(/bundles/replaycreativesite/images/search-icon.png) 290px center no-repeat;
	border: 1px solid #E0E0E0;
	border-radius: 3px;
	width: 100%;
	padding: 10px;
	color: #C5C5C5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
}
.widget {
	margin: 0 0px 48px 0px;
}
.widget h3.top-header {
	margin: 0 0px 18px 0px;
}
p.after-widgets {
	text-align: center;
}
.menu-widget {}
.menu-widget ul {}
.menu-widget li {}
.menu-widget li a {
	padding: 6.5px 0;
	display: block;
	border-bottom: 1px dashed #DFDFDF;
}
.menu-widget li a:hover {
	color: #9B1616;
	border-bottom: 1px dashed #9B1616;
}

/*	Accordion, Toggle
 ************************************************************************/
.tt-accordion,
.tt-toggle {
	margin:0;
	padding"0;
	list-style:none;
}
.accordion-head,
.toggle-head {
	padding: 8px 8px;
	margin: 0 0 1px 0;
	font-size:14px;
	cursor:pointer;
	color: white;
	background: #272727;
	transition:all .4s;
	-moz-transition:all .4s;
	-webkit-transition:all .4s;
	-o-transition:all .4s;
}
.accordion-head:hover,
.toggle-head:hover {
	color:#fff;
	background-color:#9B1616;
}
.active .accordion-head,
.active .toggle-head {
	color:#fff;
	background-color:#9B1616;
}
.accordion-head:hover .accordion-head-sign, .toggle-head:hover .toggle-head-sign {
	color:#fff;
	background-color:#272727;
}
.accordion-content,
.toggle-content {
	padding:16px;
	overflow:hidden;
}
.accordion-head-sign,
.toggle-head-sign {
	width:22px;
	height:22px;
	float:left;
	margin: 0 16px 0 0;
	cursor:pointer;
	color:#fff;
	background-color: #9B1616;
	text-align:center;
	font-weight:normal;
	font-size: 14px;
	line-height: 20px;
}
.active .accordion-head-sign,
.active .toggle-head-sign {
	background-color:#272727;
}



/*	Tabs
 ************************************************************************/
.tabs {
	display:block;
	padding:0;
	list-style:none;
}
.tabs li {
	display:block;
	width:auto;
	height:34px;
	padding:0;
	float:left;
	margin-bottom:0;
}
.tabs li a {
	display: block;
	padding: 8px 20px;
	font-size: 14px;
	cursor: pointer;
	color: white;
	background: #272727;
	margin: 0 1px 0 0;
}
.tabs li a.active, .tabs li a:hover {
	color: white;
	background: #9B1616;
}
.tabs-content {
	padding: 16px 0px;
	display:block;
	list-style:none;
}
.tabs-content > li {
	display:none;
}
.tabs-content > li.active {
	display:block;
	overflow:hidden;
}
.tabs:before,
.tabs:after {
	content:'\0020';
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0;
}
.tabs:after {
	clear:both;
}


.tab ul.blog-posts .thumb img {
	width: 50px;
	height: 50px;
}
.tab ul.blog-posts span.link_post {
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0;
}
.tab ul.blog-posts h3.entry-title {
	padding-top: 0;
	margin: 0 0 8px 0;
}
.tab ul.blog-posts h3.entry-title i {
	padding-left: 4px;
	color: #888;
	font-size: 11px;
	font-weight: normal;
	font-style: italic;
}
.tab .entry-meta span.comment {
	font-style: normal;
}
.tab ul.blog-posts li {
	margin: 0 0 18px 0;
	padding: 0 0 16px 0;
	border-bottom: 1px dashed #EEE;
}
.tab ul.blog-posts li:last-child {
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
}
.tab .da-thumbs li {
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
}
.tab ul.blog-posts .thumb {
	margin: 0 16px 0 0;
}
.tab ul.blog-posts a:hover {
	color: #9B1616;
}

/*	Portfolio
 ************************************************************************/
.da-thumbs li ,
.da-thumbs li  img {
	display: block;
	position: relative;
}
.da-thumbs li  {
	overflow: hidden;
	margin: 0 35px 0 0;
	float: left;
}
.da-thumbs li:last-child  {
	margin: 0;
}
.da-thumbs li  article {
	position: absolute;
	background: #9B1616;
	width: 100%;
	height: 100%;
}
.da-thumbs li  iframe {
	width: 100%;
	height: 170px;
}
.da-thumbs li  article.da-animate {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.da-slideFromTop {
	left: 0px;
	top: -100%;
}
.da-slideFromBottom {
	left: 0px;
	top: 100%;
}
.da-slideFromLeft {
	top: 0px; 
	left: -100%;
}
.da-slideFromRight {
	top: 0px;
	left: 100%;
}
.da-slideTop {
	top: 0px;
}
.da-slideLeft {
	left: 0px;
}
.da-thumbs li  article a {
	color:#fff;
	padding:20px;
	display:block;
}
.da-thumbs {
	text-align:center;
}
.da-thumbs li  article h3{
	color:#fff;
	padding-top:30px;
	margin:0 auto;
}
.da-thumbs li  article em{
	margin-top: 20%;
	color: white;
	display: block;
}
.da-thumbs li  article span{
	display:inline-block;
	margin-top: 16px;
}
span.link_post{
	display:block;
	width:46px;
	height: 47px;
	cursor:pointer;
	background-image:url(/bundles/replaycreativesite/images/link-h.png);
	background-repeat:no-repeat;
	background-position:top;
	margin-right:10px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
span.link_post:hover {
	background-image:url(/bundles/replaycreativesite/images/link-h2.png);
}
ul.blog-posts span.link_post{
	background-repeat:no-repeat;
	background-position:center;
	margin: 25% 0 0 0;
}
span.zoom {
	overflow:hidden;
	display:block;
	width:46px;
	height: 47px;
	cursor:pointer;
	background-image:url(/bundles/replaycreativesite/images/zoom.png);
	background-repeat:no-repeat;
	background-position:top;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
span.zoom:hover {
	background-image:url(/bundles/replaycreativesite/images/zoom-h.png);
}
.portfolio_2col article h3{
	padding-top:70px !important;
}
.image_grid li {
	color: #686f74;
	list-style:none;
	overflow:hidden;
	margin-bottom:1px;
	text-align:center;
	width: 226px;
}
.project-img {
	
}
.image_grid ul.portfolio {
	overflow: hidden;
}
.image_grid ul.portfolio li {
	display: block;
}
.one ul.portfolio li {
	width: 100%;
}
.one ul.portfolio li img {
	width: 100%;
}
.two ul.portfolio li {
	width: 48.4%;
}
.three ul.portfolio li {
	width: 31.6%;
}
.four ul.portfolio li {
	width: 23.4%;
}
.image_grid ul.portfolio li {
	margin: 0 8px 16px 8px;
}

/* 	Filters
----------------------------------------------------------------------------------------------------*/
.filterable {
	margin: 0px 0px 32px 0px;
	font-size: 14px;
	padding: 0 0 0 0;
	font-weight: normal;
	background: url(/bundles/replaycreativesite/images/line.png) center repeat-x;
	text-align: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.filterable span {
	background: #fff;
	color: #000;
	text-transform: uppercase;
	padding-right: 20px;
	font-weight: bold;
	font-size: 14px;
}
.filterable span b {
	color: #9B1616;
}
.filterable ul.filter {
	background: #fff;
	color: #ADADAD;
	padding: 0 0 0 20px;
	float: right;
	text-align: right;
}
.filterable ul.filter li {
	display: inline;
	color: #272727;
	margin: 0;
}
.filterable ul.filter li:after {
	content: '/';
	color: #bbb;
	font-size: 10px;
	margin: 0 10px;
}
.filterable ul.filter li:last-child:after {
	content: '';
	margin: 0;
}
.filterable li.current a, .filterable li a:hover  {
	color: #9B1616;
}

/*	Footer
 ************************************************************************/
#big-boy{
	background: #272727 url(/bundles/replaycreativesite/images/pattern.png) repeat;
	padding: 64px 0;
	border-bottom: 1px solid #525252;
}
footer a {
	color: #9B1616;
}
footer a:hover {
	color: #fff;
}
#big-boy h4{
	font-size: 14px;
	padding: 0 0 26px 0;
	margin: 0 0 26px 0;
	background: url(/bundles/replaycreativesite/images/border-bottom.png) bottom repeat-x;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}
#last-boy{
	background: #191919 url(/bundles/replaycreativesite/images/pattern.png) repeat;
}
#last-boy p.copyrights{
	float: left;
	padding: 16px 0;
	font-size: 12px;
}
#last-boy p.right{
	float: right;
	padding: 16px 0;
	font-size: 12px;
}

.footer-social {
	float: right;
	margin: 16px 0;
}
.footer-social a {
	text-indent: -9999px;
	overflow: hidden;
	float: left;
	width: 25px;
	height: 26px;
	margin-left: 10px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.social {
	/* margin-top: 32px; */
}
.social a {
	color: #DDD !important;
	background-color: #333;
	background-position: center;
	background-repeat: no-repeat;
	padding: 4px 6px;
	margin-right: 2px;
	margin-bottom: 2px;
	line-height: 28px;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
	text-indent: -9999px;
	overflow: hidden;
	float: left;
	width: 25px;
	height: 26px;
}
.social a:hover {
	text-decoration: none;
	background-color: #9B1616 !important;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}
a.twitter {	background-image: url(/bundles/replaycreativesite/images/social/twitter.png);}
a.facebook {	background-image: url(/bundles/replaycreativesite/images/social/facebook.png);}
a.dribbble{	background-image: url(/bundles/replaycreativesite/images/social/dribbble.png);}
a.tumblr {	background-image: url(/bundles/replaycreativesite/images/social/tumblr.png);}
a.pinterest {	background-image: url(/bundles/replaycreativesite/images/social/pinterest.png);}
a.behance {	background-image: url(/bundles/replaycreativesite/images/social/behance.png)}
a.blogger {	background-image: url(/bundles/replaycreativesite/images/social/blogger.png)}
a.cargo {	background-image: url(/bundles/replaycreativesite/images/social/cargo.png)}
a.delicious {	background-image: url(/bundles/replaycreativesite/images/social/delicious.png)}
a.deviantart {	background-image: url(/bundles/replaycreativesite/images/social/deviantart.png)}
a.digg {	background-image: url(/bundles/replaycreativesite/images/social/digg.png)}
a.dropplr {	background-image: url(/bundles/replaycreativesite/images/social/dropplr.png)}
a.ember {	background-image: url(/bundles/replaycreativesite/images/social/ember.png)}
a.googleplus {	background-image: url(/bundles/replaycreativesite/images/social/googleplus.png)}
a.evernote {	background-image: url(/bundles/replaycreativesite/images/social/evernote.png)}
a.flickr {	background-image: url(/bundles/replaycreativesite/images/social/flickr.png)}
a.forrst {	background-image: url(/bundles/replaycreativesite/images/social/forrst.png)}
a.github {	background-image: url(/bundles/replaycreativesite/images/social/github.png)}
a.google {	background-image: url(/bundles/replaycreativesite/images/social/google.png)}
a.grooveshark {	background-image: url(/bundles/replaycreativesite/images/social/grooveshark.png)}
a.html5 {	background-image: url(/bundles/replaycreativesite/images/social/html5.png)}
a.gowalla {	background-image: url(/bundles/replaycreativesite/images/social/gowalla.png)}
a.icloud {	background-image: url(/bundles/replaycreativesite/images/social/icloud.png)}
a.lastfm {	background-image: url(/bundles/replaycreativesite/images/social/lastfm.png)}
a.linkedin {	background-image: url(/bundles/replaycreativesite/images/social/linkedin.png)}
a.metacafe {	background-image: url(/bundles/replaycreativesite/images/social/metacafe.png)}
a.myspace {	background-image: url(/bundles/replaycreativesite/images/social/myspace.png)}
a.reddit {	background-image: url(/bundles/replaycreativesite/images/social/reddit.png)}
a.rss {	background-image: url(/bundles/replaycreativesite/images/social/rss.png)}
a.skype {	background-image: url(/bundles/replaycreativesite/images/social/skype.png)}
a.vimeo {	background-image: url(/bundles/replaycreativesite/images/social/vimeo.png)}
a.wp {	background-image: url(/bundles/replaycreativesite/images/social/wp.png)}
a.youtube {	background-image: url(/bundles/replaycreativesite/images/social/youtube.png)}
a.badoo {	background-image: url(/bundles/replaycreativesite/images/social/badoo.png)}
a.FeedBurner {	background-image: url(/bundles/replaycreativesite/images/social/FeedBurner.png)}
a.friendfeed {	background-image: url(/bundles/replaycreativesite/images/social/friendfeed.png)}
a.GoogleBuzz {	background-image: url(/bundles/replaycreativesite/images/social/GoogleBuzz.png)}
a.heart {	background-image: url(/bundles/replaycreativesite/images/social/heart.png)}
a.ilike {	background-image: url(/bundles/replaycreativesite/images/social/ilike.png)}
a.paypal {	background-image: url(/bundles/replaycreativesite/images/social/paypal.png)}
a.picasa {	background-image: url(/bundles/replaycreativesite/images/social/picasa.png)}
a.Stumpleupon {	background-image: url(/bundles/replaycreativesite/images/social/Stumpleupon.png)}


#jtwt li{
	background:none !important;
}
#jtwt .jtwt_tweet{
	margin-bottom:30px;
	color:#959595;
	font-size:13px;
	line-height:18px;
	background:url(/bundles/replaycreativesite/images/twitter-icon.png) no-repeat top left !important;
	padding-left:45px !important;
	padding-top:0px !important;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#jtwt .jtwt_tweet:hover{
	background:url(/bundles/replaycreativesite/images/twitter-icon-h.png) no-repeat top left !important;
}
#jtwt .jtwt_tweet p a{
	background: none !important;
	color:#bbb;
	display:inline !important;
	padding:0 !important;
	border:0 !important;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#jtwt .jtwt_tweet p a:hover{
	color:#9B1616;
}
#jtwt .jtwt_tweet .jtwt_tweet_text{
	margin-bottom:0 !important;
}
.recent-works-items{
	overflow:hidden;
}
.tags a { 
	color: #ddd !important; 
	background: #333; 
	padding: 4px 6px;
	line-height: 28px;
	-webkit-transition: all 0.8s ease-in-out;
	   -moz-transition: all 0.8s ease-in-out;
	     -o-transition: all 0.8s ease-in-out;
	        transition: all 0.8s ease-in-out;
}
.tags a:hover { 
	text-decoration: none; 
	background: #9B1616;
	-webkit-transition: all 0.1s ease-in;
	   -moz-transition: all 0.1s ease-in;
	     -o-transition: all 0.1s ease-in;
	        transition: all 0.1s ease-in;
}
.flickr-photos li {
	display: inline-block;
	margin: 0 5px 3px 0;
	width: 54px;
}
.flickr-photos li:last-child {
	margin: 0 0px 3px 0;
}
.flickr-photos li img {
	border: 2px solid #272727;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
.flickr-photos li img:hover {
	border: 2px solid #9B1616;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
#toTop{
	position:fixed;
	bottom:18px;
	right:22px;
	width: 40px;
	height: 40px;
	background: transparent url("/bundles/replaycreativesite/images/top.png") center no-repeat;
	cursor:pointer;
	display:none;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
#toTop:hover {
	opacity: 0.8;
	background: url("/bundles/replaycreativesite/images/top-hover.png") center no-repeat;
}

/* 	More
----------------------------------------------------------------------------------------------------*/
.dropcap { 
	font-size: 32px;
	margin: 0px 16px 8px 0px;
	text-transform: uppercase;
	float: left;
	position: relative;
	top: 5px;
	color: white;
	line-height: 50px;
	padding: 0px 16px;
	background: #9B1616;
}
p.message-box {
	padding: 16px 32px;
}
p.error {
	border: 1px solid #9B1616;
	background: #9B1616;
	background-image: url('/bundles/replaycreativesite/images/action-error.gif');
	background-repeat: no-repeat;
	background-position: 10px center;
}
p.success {
	border: 1px solid #009900;
	color: #003300;
	background: #72bc9c;
	background-image: url('/bundles/replaycreativesite/images/action-success.gif');
	background-repeat: no-repeat;
	background-position: 10px center;
}

/* 10 Notification Boxes
-------------------------------------------------------------------------------- */
.notification-box {
	position: relative;
	margin-bottom: 20px;
	border-radius: 3px;	
	padding: 10px 10px 10px 32px;
	background-repeat: no-repeat;
	background-position: 10px 11px;
	border: 1px solid;
	color:#444;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px rgba(255,255,255,0.4) inset;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px rgba(255,255,255,0.4) inset;
}
a.notification-close {
	position: absolute;
	right: 5px;
	top: 5px;	
	color: #666 !important;
	text-decoration: none !important;
	font-weight: bold;
	font-size: 14px;
	padding: 5px;
	line-height: normal;
}
.notification-box p {
	margin-bottom: 0;
	margin-top: 20px;	
}
.notification-box > p:first-child {
	margin: 0;	
}
.notification-box-info {
	background-color: #cfe6fc;
	background-image: url(/bundles/replaycreativesite/images/info.png);
	border-color: #a4c8f5; 	
}

.notification-box-success {
	background-color: #d2f7ad;
	background-image: url(/bundles/replaycreativesite/images/tick.png);
	border-color: #aedb2e; 	
}

.notification-box-warning {
	background-color: #fae7a2;
	background-image: url(/bundles/replaycreativesite/images/warning.png);
	border-color: #f5c558; 	
}

.notification-box-error {
	background-color: #ffd5af;
	background-image: url(/bundles/replaycreativesite/images/delete.png);
	border-color: #f8b472; 	
}
.buttonss a {
	display: inline-block;
}
a.button {
	border: 1px solid #E0E0E0;
	padding: 10px;
	color: #fff;
	background: #9B1616;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 16px 0;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
a.medium {
	padding: 15px;
}
a.large {
	padding: 20px;
}
a.red {
	background: red;
}
a.green {
	background: green;
}
a.white {
	background: white;
	color: #000;
}
a.black {
	background: black;
}
a.grey {
	background: grey;
}
a.button:hover {
	border: 1px solid #272727;
	background: #272727;
	cursor: pointer;
}

/* 	Price Tables
----------------------------------------------------------------------------------------------------*/
.pricing_table {
	color: #fff;
	width: 100%;
	font-size: 12px;
	line-height: 150%;
	text-align: center;
	margin: 10px auto 0 auto;
}
/*Only the direct LI child, not the .features li*/
.pricing_table > li {
	background: -webkit-linear-gradient(#666, #333);
	padding: 0px 20px;
	float: left;
	list-style-type: none;
	-webkit-transition: all 0.2s;
	margin: 0 2px;
	width: 15.7%;
}
.pricing_table > li.active, .pricing_table > li:hover {
	background: -webkit-linear-gradient(#9B1616, #F76B51);
	-webkit-transform: scale(1.03);
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5);
}
.pricing_table h3 {
	text-transform: uppercase;
	padding: 15px 0;
	font-size: 18px;
	font-weight: bold;
	color: white;
}
.pricing_table .price_body {
	width: 125px;
	height: 125px;
	margin: 0 auto 15px auto;
	border: 2px solid #fff;
	border-radius: 100%;
	display: table;
}
.pricing_table .price {
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	/*Lets vertically center align the price now*/
	vertical-align: middle;
	display: table-cell;
}
.pricing_table .price .price_figure {
	display: block;
}
.pricing_table .price .price_term {
	font-size: 11px;
	font-weight: normal;
}

.pricing_table .features li {
	list-style-type: none;
	padding: 5px 0;
}

.pricing_table .footer {
	padding: 10px;
	margin-top: 10px;
}
.pricing_table .footer .action_button{
	color: #fff;
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	padding: 4px 20px;
	background: #272727;

}

/* 	Tipsy
----------------------------------------------------------------------------------------------------*/
.tipsy { padding: 5px; font-size: 10px; position: absolute; z-index: 100000}
.tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
.tipsy-inner { border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-arrow { position: absolute; background: url('/bundles/replaycreativesite/images/tipsy.gif') no-repeat top left; width: 9px; height: 5px; }
.tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px}
.tipsy-nw .tipsy-arrow { top: 0; left: 10px}
.tipsy-ne .tipsy-arrow { top: 0; right: 10px}
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left}
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left}
.tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
.tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px}

/* 	Clear Floated
----------------------------------------------------------------------------------------------------*/
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}

/* 	Modern Slider
----------------------------------------------------------------------------------------------------*/
.modern-slider{float:left;width:100%;height:372px;position:relative;}
#full .modern-slider{width:1064px;height:372px;position:relative;margin: 16px auto;float: none !important;}
.modern-slider img, .modern-slider iframe {width: 1064px;height:372px;}
.mslider-view{overflow:hidden;background-color:#202020;position:relative;height:100%;}
.mslider-pages{position:relative;height:100%}
.mslider-horizontal .mslider-pages{width:9000px}
.mslider-pages > div {position:relative;height:100%}
.mslider-horizontal .mslider-pages > div {float:left}
.mslider-labels{
	position: absolute;
	bottom: 0px;
	left: 13%;
}
.mslider-label2{
	bottom: 80px;
}
.mslider-label3{
	bottom: 40px;
}
.mslider-label4{
	bottom: 0px;
}
.labele{font-size:1.2em;color:#fafafa;background-color:#2f2f2f;border-left:5px solid #9B1616;padding:8px 10px;margin-bottom:5px;white-space:nowrap;float:left;clear:left}
.mslider-controls{position:absolute;right:14%;bottom:2px;}
.mslider-horizontal .mslider-controls{margin-top:-20px;}
.mslider-vertical .mslider-controls{margin-top:-65px}
.mslider-arrow{
	width:60px;
	height:40px;
	background-color:#272727;
	cursor:pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.mslider-horizontal .mslider-arrow{float:left}
.mslider-arrow:hover{background-color:#9B1616}
.mslider-arrow:active{background-color:#D55F49}
.mslider-horizontal .mslider-prev{background-image:url("/bundles/replaycreativesite/images/slider-prev.png")}
.mslider-vertical .mslider-prev{background-image:url("/bundles/replaycreativesite/images/slider-prev.png")}
.mslider-prev{background-repeat:no-repeat;background-position:center}
.mslider-horizontal .mslider-next{background-image:url("/bundles/replaycreativesite/images/slider-next.png")}
.mslider-vertical .mslider-next{background-image:url("/bundles/replaycreativesite/images/slider-next.png")}
.mslider-next{background-repeat:no-repeat;background-position:center}


/* 	jCarousel
----------------------------------------------------------------------------------------------------*/
.image_grid .jcarousel-direction-rtl {
	direction: rtl;
}
.image_grid .jcarousel-container-horizontal {
}
.image_grid .jcarousel-clip {
    overflow: hidden;
}
.image_grid .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}
.jcarousel-next-horizontal {
	position: absolute;
	top: -56px;
	right: 0;
	width: 26px;
	height: 26px;
	cursor: pointer;
	background: #CCC url(/bundles/replaycreativesite/images/slider-next.png) center no-repeat;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.jcarousel-prev-horizontal {
	position: absolute;
	top: -56px;
	right: 27px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	background: #CCC url(/bundles/replaycreativesite/images/slider-prev.png) center no-repeat;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.jcarousel-next-horizontal:hover, .jcarousel-prev-horizontal:hover {
	background-color: #9B1616;
}
.jcarousel-prev-disabled, .jcarousel-prev-disabled:hover, .jcarousel-next-disabled-horizontal, .jcarousel-next-disabled-horizontal:hover{
	background-color: #dfdfdf;
}
h3.carousel-head {
	margin-right: 70px;
}

/*	Blockquote
================================================== */
.blockquote {
	font-family:'Philosopher', serif;
	font-size:16px;
	font-style:italic;
	text-align:center;
	text-shadow:1px 1px 3px transparent;
	color:#5f5f5f;
	margin:20px;
	overflow:hidden;
	border-left:5px solid #272727;
	background-color: whiteSmoke;
}
.blockquote.left {
	width:33%;
	float:left;
}
div.blockquote.right {
	width:33%;
	float:right;
}
.blockquote > div {
	padding:20px;
}
.blockquote.quote1 {
	border-left:0px;
	padding:15px;
	background-image:url(/bundles/replaycreativesite/images/quote-t1.png);
	background-position:15px 15px;
	background-repeat:no-repeat;
}
.blockquote.quote1 > .quote1 {
	border-left:0px;
	background-image:url(/bundles/replaycreativesite/images/quote-b1.png);
	background-position:100% 100%;
	background-repeat:no-repeat;
}
.blockquote.quote2 {
	border-left:0px;
	background-image:url(/bundles/replaycreativesite/images/quote-t2.png);
	background-repeat:no-repeat;
}
.blockquote.quote2 > .quote2 {
	border-left:0px;
	background:url(/bundles/replaycreativesite/images/quote-b2.png);
	background-position:100% 100%;
	background-repeat:no-repeat;
}
.blockquote.quote3 {
	border-width:1px 0;
	border-style:solid;
}
.blockquote.quote4 {
	border-width:0 3px;
	border-style:solid;
}

/*	HR Styles
 ************************************************************************/
hr.line {
	margin-bottom: 32px;
}
hr.dotted {
	border-bottom: 1px dotted #777;
	margin-bottom: 32px;
}
hr.dashed {
	border-bottom: 1px dashed #272727;
	margin-bottom: 32px;
}
hr.double {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	margin-bottom: 32px;
}
hr.inset {
	box-shadow: inset 0 0 -24px black;
	margin-bottom: 32px;
}
hr.inset2 {
	box-shadow: inset 0px 1px -112px #BBB;
	margin-bottom: 32px;
}	
hr.theme20-1 {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	margin-bottom: 32px;
}	
hr..theme20-2 {
	height: 12px;
	border: 0;
	box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
	margin-bottom: 32px;
}		
hr.theme20-3 {
	padding: 0;
	border: none;
	border-top: medium double #555;
	color: #555;
	text-align: center;
	margin: 32px 0px;
}
hr.theme20-3:after {
	content: "♦";
	display: inline-block;
	position: relative; 
	top: -0.7em;  
	font-size: 1.5em;
	padding: 0 0.25em;
	background: white;
}
hr.theme20-4 {
	margin:20px 0 0 0;
	background: none;
	padding:0;
	border:0;
	outline:0;
	overflow:hidden;
	height:20px;
}
hr.theme20-4:after {
	content:"";
	margin: 0 auto;
	position:relative;
	top:-35px;
	display:block;
	width:95%;
	height:16px;
	box-shadow:0px 25px 10px #bbb;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}

.highlight {
	padding: 1px 8px;
}

/*	Progress Bar
 ************************************************************************/
.progress-bar {
	background-color: #f7f7f7;
	height: 32px;
	position: relative;
	margin-bottom: 16px;
	overflow: hidden;
	background-image: -moz-linear-gradient(top,#f5f5f5,#f9f9f9);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#f5f5f5),to(#f9f9f9));
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f9f9f9);
	background-image: -o-linear-gradient(top,#f5f5f5,#f9f9f9);
	background-image: linear-gradient(to bottom,#f5f5f5,#f9f9f9);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5',endColorstr='#fff9f9f9',GradientType=0);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);    
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.progress-bar span {
	display: inline-block;
	height: 100%;	
	background-color: #272727;
	-webkit-transition: width .4s ease-in-out;
	-moz-transition: width .4s ease-in-out;
	-ms-transition: width .4s ease-in-out;
	-o-transition: width .4s ease-in-out;
	transition: width .4s ease-in-out;    
}

.stripes span {
	-webkit-background-size: 30px 30px;
	-moz-background-size: 30px 30px;
	background-size: 30px 30px;			
	background-image: -webkit-gradient(linear, left top, right bottom,
						color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),
						color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),
						color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),
						to(transparent));
	background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);            
	-webkit-animation: animate-stripes 3s linear infinite;
	-moz-animation: animate-stripes 3s linear infinite;       		
}
@-webkit-keyframes animate-stripes { 
	0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}
@-moz-keyframes animate-stripes {
	0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}
.progress-bar  .progress-bar-text {
	position: absolute;
	bottom: 8px;
	left: 8px;
	color: white;
	text-shadow: 1px 1px 1px rgba(73, 73, 73, 0.66);
}
.progress-bar  .progress-bar-text > span {
	background: none;
}




div.list ul {
	padding-left:0;
	list-style:none;
}
div.list li {
	padding:0 0 8px 24px;
	background-repeat:no-repeat;
}
div.list.check li {
	background-image:url(/bundles/replaycreativesite/images/action-success.gif);
}
div.list.delete li {
	background-image:url(/bundles/replaycreativesite/images/action-error.gif);
}
div.list.info li {
	background-image:url(/bundles/replaycreativesite/images/info.png);
}
div.list.warning li {
	background-image:url(/bundles/replaycreativesite/images/warning.png);
}
div.list.info-meta li {
	background-image:url(/bundles/replaycreativesite/images/info-meta.png);
}
div.list.tick li {
	background-image:url(/bundles/replaycreativesite/images/tick.png);
}


/* testimonial
---------------------------------------- */
.testimonial-wrapper {
	margin-bottom: 32px;
}
.testimonial {
	color:#373737;
	background-color:#ddd;
	margin-bottom:18px;
	padding:24px 28px;
	position:relative;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	float:left;
}
.testimonial p {
	font-size:14px;
	font-style:italic;
	font-family: serif;
	text-shadow:1px 1px 3px #e4e4e4;
	margin:0;
}
.testimonial-arrow {
	border-color:#e5e5e5 transparent transparent transparent;
	border-style:solid;
	border-width:20px 20px 0 0;
	height:0;
	width:0;
	position:absolute;
	bottom:-20px;
	left:40px;
}
.testimonial-s strong {
	color:#232323;
}
.testimonial-s .testimonial-details {
	margin: 8px 8px;
	display:block;
	float:left;
}

.dark  .testimonial {
	color:#fff;
	background-color:#272727;
}
.dark  .testimonial p {
	text-shadow: none;
}
.dark  .testimonial-arrow {
	border-color:#272727 transparent transparent transparent;
}

/* Homepages
================================================== */
.homeblogtwo ul.blog-posts > li {
	float: left;
	width: 50%;
}
.homeblogtwo ul.blog-posts .thumb ul li img {
	height: 100%;
	width: 100%;
}
.homeblogtwo ul.blog-posts .thumb {
	float: left;
	display: block;
	margin: 0 0 32px 0;
	width: 100%;
}
.homeblogtwo ul.blog-posts .entry-meta {
	background: transparent url(/bundles/replaycreativesite/images/info-meta.png) 0px 2px no-repeat;
	padding-left: 24px;
}
.homeblogtwo ul.blog-posts span.link_post {
	margin: 34% 0 0 0;
}
.homepage-3 .three ul.portfolio li {
	width: 30.9%;
}
.homepage-3 .pagination {
	margin-top: 32px;
}



/* Table
================================================== */
.table {
	background:transparent !important;
	font-size:13px;
	text-align:center;
	border-collapse:collapse;
	margin:0;
	padding:0;
	width:100%;
	overflow:hidden;
}
.table th {
	font-size:14px;
	font-weight:normal;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align:center;
	padding:16px 12px;
	color:#ffffff;
	background-color:#272727;
	text-shadow:none;
}
.table td { 
	padding:14px 7px 14px 7px;
}
.table tr {
	border-bottom:1px solid #fff;
	background-color:#f8f8f8;
	-moz-transition:all .2s;
	-webkit-transition:all .2s;
	-o-transition:all .2s;
}
.table tr:hover {
	background:#ddd;
	transition:all .2s;
}
.table tfoot td {
	padding:10px 16px;
	text-align:left;
	background:#272727;
	color:#ffffff;
	font-size:11px;
	text-shadow:none;
}
.table tfoot tr:hover {
	background:#63b1be;
}


/*	Stunning Text
================================================== */
.stunning-tt .stunningtext {
	padding: 32px;
}
.stunning-tt .stunningtext-caption {
	float: left;
}
.stunning-tt .stunningtext a.stunning {
	margin: 20px 20px;
}
.stunningtext {
	position:relative;
	background: #EEE;
	padding: 16px;
	margin: 0 0 16px 0;
	font-size:13px;
	overflow:hidden;
}
.stunningtext.dark {
	background: #272727;
	color:#bbb;
}
.stunningtext-title {
	font-size:18px;
	line-height:1.2em;
	color:#272727;
	margin-bottom:8px;
	clear:both;
	padding-top:10px;
}
.dark .stunningtext-title {
	color:#fff;
}
.stunningtext a.stunning {
	margin: 8px 8px;
	float: right;
	padding: 8px;
	color: white;
	background-color: #272727;
}
.stunningtext a.stunning:hover {
	color: #fff;
	background-color:#9B1616;
}
.stunningtext.dark a.stunning {
	background-color:#9B1616;
}
.stunningtext.dark .normal-button:hover,
.stunningtext.dark a.stunning:hover {
	color: #272727;
	background-color:#ffffff;
}

/* Display
================================================== */
nav {display: block;}
.tinynav { display: none }
select.tinynav {
	padding:10px 10px 10px 10px;
	width: 290px;
	color:#fff;
	border:none;
	outline:none !important;
	-webkit-appearance:none;
	cursor:pointer;
	background: #353535 url('/bundles/replaycreativesite/images/bottom.png') no-repeat right center;
}

#menu-icon {display: none;  }
#menu-icon {color: #fff;width: 42px;height: 30px;background: transparent url(/bundles/replaycreativesite/images/nav-icon.png) no-repeat 10px 11px;padding: 8px 0px 0 42px;cursor: pointer;display: none;  }
#menu-icon:hover {color: #ccc;}
#menu-icon.active {color: #bbb;}

/* #Tablet (Landscape) 1024px
================================================== */
@media only screen and (min-width: 960px) and (max-width: 1026px) {
	body {width: 988px;margin: 0 auto}
	#boxed {width: 988px;}
	#full {width: 988px;}
	.row {margin: 0 auto;width: 97%;}
	#header .logo {padding: 25px 24px;margin: 0 auto;}
	#extraInfo {width: 988px !important;top: 0px !important}
	.tt-col {margin: 64px auto;padding: 0 10px;}
	.four ul.portfolio li, .three ul.portfolio li {width: 23.2% !important;}
	.two ul.portfolio li {width: 48.2% !important;}
	.pagination {margin: 0px 0px 64px 0px !important;}
	.pricing_table > li {width: 15.4%;}
	.modern-slider, .modern-slider img, .modern-slider iframe {width: 1024px;height: 266px;}
	.mslider-labels {display: none;}
	.modern-slider, .modern-slider img, .modern-slider iframe {height: 272px !important;width: 988px !important;}
	.flexslider, .flexslider img {height: 272px !important;width: 966px !important;}
	.theme-orman.slider-wrapper {height: auto !important;}
	.two-s .grid_3 {width: 20.9%;}
	.theme-orman .nivoSlider {height: 372px !important;width: 988px !important;}
}

/* #Tablet (Portrait) 768px
================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	body {width: 768px;margin: 0 auto}
	.tinynav { display: block }
	ul.sf-menu { display: none; }
	#boxed {width: 734px;margin: 0 20px;}
	#full {width: 734px;margin: 0 20px;}
	.row {margin: 0 auto;width: 97%;}
	#header .logo {padding: 25px 24px;margin: 0 auto;}
	.extraicon, .extraicon2 {float: right;margin: 44px 24px 0 0;}
	.tt-col {margin: 64px auto;padding: 0 10px;}
	#toTop, .bottom-shadow, .shadow {display: none !important;}
	#header nav {padding: 32px 24px 0px 8px;}
	#slider-basic, #slider-basic ul.bjqs, #slider-basic li.bjqs-slide, #slider-basic img {height: 304px !important;}
	#slider-basic iframe {height: 260px !important;}
	#slider-basic ul.bjqs-controls, .arrowes {width: 720px !important;}
	.project-cols .project {width: 50%;}
	.project-cols .sidebar {width: 46% !important;}
	.pagination {margin: 0px 0px 64px 0px !important;}
	#commentform .form-submit input {margin: 0 0 64px 0;}
	.theme20-feature img {height: 140px;}
	ul.page-title {top: 128px;}
	.posts, .sidebar, .left-sidebar .sidebar {width: 97.5% !important;}
	#post-slider, #post-slider ul.bjqs, #post-slider li.bjqs-slide, #post-slider img {height: 304px !important;}
	.two-column #post-slider, .two-column #post-slider ul.bjqs, .two-column #post-slider li.bjqs-slide, .two-column #post-slider img {height: 160px !important;}
	.services .grid_3 {width: 98%;margin: 0px 8px 32px 8px;text-align: left;}
	.grid_12 {margin: 0}
	.image_grid li {width: 206px;}
	.da-thumbs li iframe {height: 150px;}
	ul.blog-posts .thumb {margin-bottom: 16px;}
	#client, #client ul.bjqs, #client ul.bjqs li, #client ul.bjqs img {width: 223px !important;}
	#client ul.bjqs-controls {width: 223px !important;}
	#client p.bjqs-caption {display: none !important;}
	#big-boy .grid_3 {width: 48%;margin-bottom: 32px;}
	.pricing_table > li {margin: 0 2px 32px 2px;width: 26.7%;}
	.four ul.portfolio li, .three ul.portfolio li {width: 216px !important;}
	.two ul.portfolio li {width: 332px !important;}
	.pagination .numbers {float: none !important;text-align: center;}
	.projects-row .grid_3, .projects-row .grid_9 {width: 48%;}
	.projects-row .image_grid li {width: 340px;}
	.modern-slider, .modern-slider img, .modern-slider iframe, .flexslider, .flexslider img {height: 272px !important;width: 714px !important;}
	.theme20-feature .bshadow {display: none;}
	.homepage-3 .grid_8 {width: 98%;}
	.homepage-3 .pagination span {display:none;}
	.homepage-3 .pagination {margin-top: 32px;}
	.theme-orman.slider-wrapper {height: auto !important;}
	.tt-col .circle {float: left;margin: 0 40px 0 0;}
	.tt-col h3.service-title {font-size: 14px;}
	.two-s .grid_3 {width: 95%;}
	.two-s a.button {width: auto;float: right;margin-right: 16px;}
	.theme-orman .nivoSlider {height: 372px !important;width: 734px !important;}
}

/*  #Mobile (Portrait) 320px
================================================== */
@media only screen and (min-width: 100px) and (max-width: 480px) {
	body {width: 320px;margin: 0 auto}
	.tinynav { display: block }
	ul.sf-menu { display: none }
	#boxed {width: 301px;margin: 08px;}
	#full {width: 301px;margin: 0 8px;}
	.row {margin: 0 auto;width: 97%;}
	#header .logo {padding: 25px 24px;margin: 0 auto;}
	select.tinynav {width: 28px;}
	.mslider-arrow {width: 32px;height: 32px;}
	.tt-col {margin: 64px auto;padding: 0 10px;}
	#toTop, .bottom-shadow, .shadow {display: none !important;}
	#header nav {float: left !important;padding: 0px 0px 0px 8px;}
	.extraicon, .extraicon2 {float: right !important;margin: 10px 8px 0 0;}
	.pricing_table > li {margin: 0 2px 32px 2px;width: 80%;}
	ul.page-title {top: 106px;}
	.theme20-feature img {height: 120px;}
	.header .post-meta {position: relative;bottom: 0;left: 0;}
	.header .post-meta .date span {display: inline-block;margin: 0 5px;font-size: 20px !important;}
	.post-footer ul li:after {margin: 0 0px;}
	.posts .content {margin: 32px 8px;}
	.filterable ul.filter {float: none !important;text-align: center;}
	.four ul.portfolio li, .three ul.portfolio li, .two ul.portfolio li  {width: 92%;}
	.filterable span {display: none;}
	.pagination {margin: 0px 0px 32px 0px !important;}
	#commentform .form-submit input {margin: 0 0 64px 0;}
	#slider-basic, #slider-basic ul.bjqs, #slider-basic li.bjqs-slide, #slider-basic img {height: 184px !important;}
	#slider-basic iframe {height: 154px !important;}
	#slider-basic ul.bjqs-controls, .arrowes {width: 308px !important;}
	.services .grid_3 {width: 95%;margin-bottom: 32px;}
	.grid_12 {margin: 0}
	.image_grid li {width: 284px;}
	.da-thumbs li iframe {height: 215px;}
	.grid_8, .grid_4 {width: 95%;}
	#client, #client ul.bjqs, #client ul.bjqs li, #client ul.bjqs img {width: 278px !important;}
	#client ul.bjqs-controls {width: 278px !important;}
	#client p.bjqs-caption {display: none !important;}
	.posts, .sidebar, .left-sidebar .sidebar {width: 94% !important;}
	.pagination span {display: none}
	span.numbers {display: block;margin-bottom: 32px;text-align: center !important;float: none !important;}
	#big-boy .grid_3 {width: 96%; margin: 0 0 32px 6px;}
	#last-boy p, #last-boy p.right {float: none !important;text-align: center;}
	.pagination .numbers {float: none !important;text-align: center;}
	.projects-row .grid_3, .projects-row .grid_9 {width: 96%;margin-bottom: 32px;}
	.projects-row .image_grid li {width: 308px;}
	.modern-slider, .modern-slider img, .modern-slider iframe, .flexslider, .flexslider img {height: 126px !important;width: 280px !important;}
	.mslider-labels, .theme20-feature .bshadow {display: none;}
	.homepage-3 .grid_8 {width: 98%;}
	.homepage-3 .three ul.portfolio li {width: 93%;}
	.homepage-3 .pagination span {display:none;}
	.homepage-3 .pagination {margin-top: 32px;}
	.theme-orman.slider-wrapper {height: auto !important;}
	div.theme20_switcher {display: none;}
	.two-s .grid_3 {width: 87%;}
	.two-s a.button {width: auto;float: right;margin-right: 16px;}
	.stunningtext {margin: 0 8px 16px 0;}
	.theme-orman .nivoSlider {height: 150px !important;width: 301px !important;}
}

/* #Mobile (Landscape) 480px
================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	body {width: 480px;margin: 0 auto}
	.tinynav { display: block }
	ul.sf-menu { display: none }
	#boxed {width: 464px;margin: 08px;}
	#full {width: 464px;margin: 0 8px;}
	.row {margin: 0 auto;width: 97%;}
	#header .logo {padding: 25px 24px;margin: 0 auto;}
	select.tinynav {width: 100px;}
	.tt-col {margin: 64px auto;padding: 0 10px;}
	#toTop, .bottom-shadow, .shadow {display: none !important;}
	#menu-icon {display: block;margin: 41px 0px 0px 32px !important; }
	#header nav {float: left !important;padding: 32px 0px 0px 8px;}
	.extraicon, .extraicon2 {float: right !important;margin: 44px 16px 0 0;}
	.projects-row .grid_3, .projects-row .grid_9 {width: 98%; margin-bottom: 32px;}
	.projects-row .image_grid li {width: 470px;}
	.pricing_table > li {margin: 0 2px 32px 2px;width: 80%;}
	ul.page-title {top: 106px;}
	.theme20-feature img {height: 120px;}
	.header .post-meta {position: relative;bottom: 0;left: 0;}
	.header .post-meta .date span {display: inline-block;margin: 0 5px;font-size: 20px !important;}
	.post-footer ul li:after {margin: 0 0px;}
	.posts .content {margin: 32px 8px;}
	.filterable ul.filter {float: none !important;text-align: center;}
	.four ul.portfolio li, .three ul.portfolio li, .two ul.portfolio li  {width: 92%;}
	.filterable span {display: none;}
	.pagination {margin: 0px 0px 32px 0px !important;}
	#commentform .form-submit input {margin: 0 0 64px 0;}
	#slider-basic, #slider-basic ul.bjqs, #slider-basic li.bjqs-slide, #slider-basic img {height: 184px !important;}
	#slider-basic iframe {height: 154px !important;}
	#slider-basic ul.bjqs-controls, .arrowes {width: 464px !important;}
	.services .grid_3 {width: 95%;margin-bottom: 32px;}
	.grid_12 {margin: 0}
	.image_grid li {width: 460px;}
	.mslider-arrow {width: 32px;height: 32px;}
	.da-thumbs li iframe {height: 215px;}
	.grid_8, .grid_4 {width: 95%;}
	#client, #client ul.bjqs, #client ul.bjqs li, #client ul.bjqs img {width: 426px !important;}
	#client ul.bjqs-controls {width: 426px !important;}
	#client p.bjqs-caption {display: none !important;}
	.posts, .sidebar, .left-sidebar .sidebar {width: 94% !important;}
	.pagination span {display: none}
	span.numbers {display: block;margin-bottom: 32px;text-align: center !important;float: none !important;}
	#big-boy .grid_3 {width: 96%; margin: 0 0 32px 6px;}
	#last-boy p, #last-boy p.right {float: none !important;text-align: center;}
	.pagination .numbers {float: none !important;text-align: center;}
	.modern-slider, .modern-slider img, .modern-slider iframe, .flexslider, .flexslider img {height: 166px !important;width: 444px !important;}
	.mslider-labels, .theme20-feature .bshadow {display: none;}
	.homepage-3 .grid_8 {width: 98%;}
	.homepage-3 .three ul.portfolio li {width: 46%;}
	.homepage-3 .pagination span {display:none;}
	.homepage-3 .pagination {margin-top: 32px;}
	.theme-orman.slider-wrapper {height: auto !important;}
	div.theme20_switcher {display: none;}
	.two-s .grid_3 {width: 92%;}
	.two-s a.button {width: auto;float: right;margin-right: 16px;}
	.stunningtext {margin: 0 8px 16px 0;}
	.theme-orman .nivoSlider {height: 240px !important;width: 464px !important;}
}


div.theme20_switcher {
    font-size: 11px;
    width: 200px;
    z-index: 100;
    padding: 0px;
    background: white;
    border: 1px
    solid #EBEBEB;
    border-right-width: 0px;
    position: fixed;
    top: 50px;
    right: -200px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    color: #393737;
}
div.theme20_switcher
p {
	margin-bottom: 10px;
}

div.theme20_switcher
div.clearfix {
	border-top: 1px solid #EBEBEB;
	margin-bottom: 10px;
	 margin-top: 10px;
	margin-left: -10px;
	margin-right: -10px;
	clear: both;
}

div.theme20_switcher.visible {
	right: 0px;
}

div.bk_theme_switcher div.color-wrap {
	height: 140px;
}

div.theme20_switcher
div.toggle {
	 position: absolute;
	 z-index: 101;
	 top: 40px;
	 left: -43px;
	 width: 43px;
	 height: 46px;
	cursor: pointer;
	background-color: white;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
}
div.theme20_switcher
div.toggle span.icont20 {
	 width: 43px;
	display: block;
	 height: 46px;
	background: url("/bundles/replaycreativesite/images/theme20/toggle.png") center no-repeat;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	transform: rotate(0deg);
	-ms-transform: rotate(0deg); 
	-webkit-transform: rotate(0deg); 
	-o-transform: rotate(0deg);
	-moz-transform: rotate(0deg); 
}
div.theme20_switcher
div.toggle span.icon-close {
	 width: 43px;
	display: block;
	 height: 46px;
	background: url("/bundles/replaycreativesite/images/theme20/toggle-close.png") center no-repeat;
	transform: rotate(359deg);
	-ms-transform: rotate(359deg); 
	-webkit-transform: rotate(359deg); 
	-o-transform: rotate(359deg);
	-moz-transform: rotate(359deg); 
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}
div.theme20_switcher
div.toggle:hover span {
	 width: 43px;
	display: block;
	 height: 46px;
	transform: rotate(359deg);
	-ms-transform: rotate(359deg); 
	-webkit-transform: rotate(359deg); 
	-o-transform: rotate(359deg);
	-moz-transform: rotate(359deg); 
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

div.theme20_switcher
div.theme20_switcher_inner_wrap {
	margin: 10px;
}

div.theme20_switcher .theme20-radio-thumb {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
div.pattern-image-wrap {
	overflow: hidden;
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}
div.pattern-image-wrap img.theme20-radio-thumb {
	width: 100% !important;
	 height: 100% !important;
}
div.theme20_switcher select {
	width: 98%;
}
div.theme20_switcher
div.theme20_switcher_header {
	 -webkit-border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-left-radius: 3px;
	border-bottom: 1px solid #EBEBEB;
	text-align: center;
	height: 34px;
	line-height: 34px;
	text-shadow: 0px 1px 0px white;
	font-size: 14px;
	font-weight: bold;
	background: url("/bundles/replaycreativesite/images/theme20/headers.png") repeat-x 0px 0px;
}
.tech img {
  margin-right: 20px;
  width: 60px;
  display: inline;
  margin-bottom: 20px;
}
